Repository icssc/anteater-api: changes, and which lefthook commands are due for each by the changed paths.
All: check-biome, check-prettier

check-biome:
  run: pnpm check:biome -- {staged_files}
  stage_fixed: true

check-prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

debugging tools
  .github/workflows/deploy_staging.yml
Due: check-prettier

fixing sst and key manager
  apps/key-manager/sst.config.ts
Due: check-biome

adjusted sst config to allow for deploy
  apps/key-manager/sst.config.ts
Due: check-biome

logs
  .github/workflows/deploy_staging.yml
Due: check-prettier

testing key manager deployment in staging
  .github/workflows/deploy_staging.yml
Due: check-prettier

more testing
  .github/workflows/deploy_staging.yml
Due: check-prettier

change version of node to check source of error
  .github/actions/setup-node-and-pnpm/action.yml
Due: check-prettier

debug
  .github/actions/setup-node-and-pnpm/action.yml
  .github/workflows/deploy_staging.yml
Due: check-prettier

more logs
  .github/workflows/deploy_staging.yml
Due: check-prettier

tracking sst vs pnpm problem
  .github/workflows/deploy_staging.yml
Due: check-prettier

updated deploy command
  .github/workflows/deploy_staging.yml
Due: check-prettier

flags not working?
  .github/workflows/deploy_staging.yml
Due: check-prettier

fix pnpm deploy for debug
  .github/workflows/deploy_staging.yml
Due: check-prettier

misspell
  .github/workflows/deploy_staging.yml
Due: check-prettier

pinned version of aws and random
  apps/key-manager/sst.config.ts
Due: check-biome

made it so actions wont look for dotenv when deploying
  apps/key-manager/package.json
Due: check-prettier

adjust logs and check aws
  .github/workflows/deploy_staging.yml
Due: check-prettier

updated staging
  .github/workflows/deploy_staging.yml
Due: check-prettier

added refresh in CI -- REMOVE WHEN DONE -- and added logs to check in workflow
  apps/key-manager/package.json
Due: check-prettier

update staging to save artifact log
  .github/workflows/deploy_staging.yml
Due: check-prettier

wrong dir smh
  .github/workflows/deploy_staging.yml
Due: check-prettier

trying to unlock sst before refreshing to get rid of 6 previously running updates
  .github/workflows/deploy_staging.yml
Due: check-prettier

trying to unlock sst before refreshing to get rid of 6 previously running updates typo
  .github/workflows/deploy_staging.yml
Due: check-prettier

chore: clean sst action
  .github/workflows/deploy_staging.yml
  apps/key-manager/sst.config.ts
Due: check-biome, check-prettier

chore: clean sst action
  .github/workflows/deploy_staging.yml
Due: check-prettier

chore: re-add sst action logs
  .github/workflows/deploy_staging.yml
Due: check-prettier

chore: pin aws
  apps/key-manager/sst.config.ts
Due: check-biome

chore: add github token to deploy action
  .github/workflows/deploy_staging.yml
Due: check-prettier

chore: add provider cache
  .github/workflows/deploy_staging.yml
Due: check-prettier

chore: update deps
  apps/key-manager/package.json
  apps/key-manager/sst.config.ts
  pnpm-lock.yaml
Due: check-biome, check-prettier

chore: clean deploy script
  .github/workflows/deploy_staging.yml
Due: check-prettier

fix: add users db url to nextjs env
  apps/key-manager/sst.config.ts
Due: check-biome

chore: clean diff
  .github/actions/setup-node-and-pnpm/action.yml
  .github/workflows/deploy_staging.yml
Due: check-prettier

chore: add cloudflare keys
  apps/key-manager/sst.config.ts
Due: check-biome

chore: add auth keys
  apps/key-manager/sst.config.ts
Due: check-biome

Path conditions:
  check-biome: any of: *.{ts,tsx,cjs}, but not: **/worker-configuration.d.ts, **/.wrangler/**
  check-prettier: any of: *.{json,md,toml,yml,yaml}
