Repository icssc/anteater-api: changes, and which lefthook commands are due for each by the changed paths.
All: check-biome, check-prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check-biome:
      glob: "*.{ts,tsx,cjs}"
      run: pnpm check:biome -- {staged_files}
      stage_fixed: true
      exclude:
        - "**/worker-configuration.d.ts"
        - "**/.wrangler/**"
    check-prettier:
      glob: "*.{json,md,toml,yml,yaml}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

feat(fix): update week calculation logic and snapshot decision handling in websoc scraper
  apps/api/src/services/week.ts
  apps/data-pipeline/websoc-scraper/src/lib.ts
  packages/stdlib/src/calendar-utils.ts
Due: check-biome

fix these column names
  packages/db/migrations/0024_dining.sql
  packages/db/migrations/meta/0024_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

remove old restaurant IDs and peterplate route
  apps/api/src/rest/routes/dining.ts
  apps/api/src/schema/dining.ts
  apps/api/src/services/dining.ts
  apps/data-pipeline/dining-scraper/src/fetch-menu-week-view.ts
  apps/data-pipeline/dining-scraper/src/model.ts
  apps/data-pipeline/dining-scraper/src/update-events.ts
  apps/data-pipeline/dining-scraper/src/update-restaurant.ts
  apps/data-pipeline/dining-scraper/src/util.ts
  packages/db/migrations/0024_dining.sql
  packages/db/migrations/meta/0024_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

reorder and naming nits
  apps/api/src/rest/routes/dining.ts
  apps/api/src/schema/dining.ts
  apps/api/src/services/dining.ts
Due: check-biome

spell ID like Id because everyone else does it
  apps/data-pipeline/dining-scraper/src/fetch-menu-week-view.ts
  apps/data-pipeline/dining-scraper/src/model.ts
  apps/data-pipeline/dining-scraper/src/update-events.ts
  apps/data-pipeline/dining-scraper/src/update-restaurant.ts
Due: check-biome

restaurants + stations endpoint
  apps/api/src/rest/routes/dining.ts
  apps/api/src/schema/dining.ts
  apps/api/src/services/dining.ts
Due: check-biome

change this example
  apps/api/src/schema/dining.ts
Due: check-biome

new "state" endpoint
  apps/api/src/rest/routes/dining.ts
  apps/api/src/schema/dining.ts
  apps/api/src/services/dining.ts
  apps/api/src/services/index.ts
Due: check-biome

docs and comments
  apps/api/src/schema/dining.ts
Due: check-biome

bulk dishes
  apps/api/src/rest/routes/dining.ts
  apps/api/src/services/dining.ts
Due: check-biome

don't coerce like this
  apps/api/src/schema/dining.ts
Due: check-biome

unused
  apps/api/src/schema/dining.ts
Due: check-biome

missing schemas
  apps/api/src/schema/dining.ts
Due: check-biome

comment
  apps/api/src/services/dining.ts
Due: check-biome

typehint this raw sql
  apps/api/src/services/dining.ts
Due: check-biome

the cooler typehint
  apps/api/src/services/dining.ts
Due: check-biome

feat: added some graphql schemas
  apps/api/src/graphql/schema/dining.ts
Due: check-biome

better types
  apps/api/src/services/dining.ts
Due: check-biome

encoded parsed Program key into a string instead of a list so that map works properly
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

cache dining REST for an hour
  apps/api/src/rest/routes/dining.ts
Due: check-biome

saved spec_id in major_requirement in coorect - format to match with id of specialization table
  apps/data-pipeline/degreeworks-scraper/src/index.ts
Due: check-biome

(my own) review comment
  apps/data-pipeline/dining-scraper/src/update-restaurant.ts
Due: check-biome

menus don't exist anymore
  apps/api/src/services/dining.ts
  apps/data-pipeline/dining-scraper/src/update-restaurant.ts
  packages/db/migrations/0024_dining.sql
  packages/db/migrations/meta/0024_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

add an index here to speed up pickableDates
  packages/db/migrations/0024_dining.sql
  packages/db/migrations/meta/0024_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

remove ON UPDATE CASCADE
  packages/db/migrations/0024_dining.sql
  packages/db/migrations/meta/0024_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

more indexes
  packages/db/migrations/0024_dining.sql
  packages/db/migrations/meta/0024_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

remove second description field
  apps/api/src/graphql/schema/dining.ts
  apps/api/src/schema/dining.ts
  apps/api/src/services/dining.ts
  apps/data-pipeline/dining-scraper/src/update-events.ts
  packages/db/migrations/0024_dining.sql
  packages/db/migrations/meta/0024_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

loose ends
  apps/data-pipeline/dining-scraper/src/update-restaurant.ts
  packages/db/migrations/0024_dining.sql
Due: check-biome

don't provide station name here
  apps/api/src/schema/dining.ts
  apps/api/src/services/dining.ts
Due: check-biome

i think i meant to provide this name
  apps/api/src/schema/dining.ts
  apps/api/src/services/dining.ts
Due: check-biome

use sql NOW() here
  apps/api/src/services/dining.ts
Due: check-biome

openapi meta
  apps/api/src/middleware/openapi-meta.ts
Due: check-biome

feat: changed schema to contain major_spec_pair_to_requirement table that points to seperate major_requirement table
  apps/data-pipeline/degreeworks-scraper/src/index.ts
  packages/db/src/schema.ts
Due: check-biome

Auogenerate id in major_spec_pair_to_requirement table
  apps/data-pipeline/degreeworks-scraper/src/index.ts
  packages/db/src/schema.ts
Due: check-biome

db migration
  packages/db/migrations/0024_glamorous_maria_hill.sql
  packages/db/migrations/0024_polymorphic_majors.sql
  packages/db/migrations/meta/0024_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: check-prettier

deleted outdated numbered migration files
  packages/db/migrations/0023_add_req_spec_to_major.sql
  packages/db/migrations/meta/0023_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: check-prettier

re-migrated
  packages/db/migrations/0024_add_req_spec_to_major_table.sql
  packages/db/migrations/meta/0024_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: check-prettier
