Repository icssc/anteater-api: changes, and which lefthook commands are due for each by the changed paths.
All: check-biome, check-prettier

check-biome:
  run: pnpm check:biome -- {staged_files}
  stage_fixed: true

check-prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

migrated db and did some pg testing
  apps/api/src/schema/programs.ts
  apps/api/src/services/programs.ts
  packages/db/migrations/0023_fresh_chimera.sql
  packages/db/migrations/meta/0023_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: check-biome, check-prettier

comments
  apps/data-pipeline/study-location-scraper/src/pv.ts
Due: check-biome

updated pnpm
  apps/api/src/schema/programs.ts
  apps/api/src/services/programs.ts
  package.json
Due: check-biome, check-prettier

added requireSpec field to graphql schema
  apps/api/src/graphql/schema/programs.ts
Due: check-biome

made requireSpec a nonnullable type
  packages/db/src/schema.ts
Due: check-biome

remigrated db after making requireSpec nonNullable
  packages/db/migrations/0024_nebulous_chronomancer.sql
  packages/db/migrations/meta/0024_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: check-prettier

don't export this
  apps/data-pipeline/dining-scraper/src/update-events.ts
Due: check-biome

manually tweak this migration because drizzle goofed
  packages/db/migrations/0023_dining.sql
Due: none

chore: revise event rest schema openapi docs and start time nullability
  apps/api/src/schema/dining.ts
Due: check-biome

added comments for evaluating spec req
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
Due: check-biome

interval bug comment clarification
  apps/data-pipeline/study-location-scraper/src/pv.ts
Due: check-biome

further interval bug comment clarification
  apps/data-pipeline/study-location-scraper/src/pv.ts
Due: check-biome

feat: added rest getdish endpoint
  apps/api/src/rest/routes/dining.ts
  apps/api/src/schema/dining.ts
  apps/api/src/services/dining.ts
Due: check-biome

chore: revised eventSchema openapi docs and exposed updatedAt field
  apps/api/src/schema/dining.ts
  apps/api/src/services/dining.ts
Due: check-biome

fix(degreeworks-scraper): filter valid course unit requirements (#286)
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
  apps/data-pipeline/degreeworks-scraper/src/types.ts
Due: check-biome

add study room
  apps/api/src/services/study-rooms.ts
  apps/data-pipeline/study-location-scraper/src/pv.ts
  packages/db/migrations/0024_add_study_room_url.sql
  packages/db/migrations/meta/0024_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

store as wall clock
  apps/data-pipeline/study-location-scraper/src/pv.ts
Due: check-biome

feat(db): schema update add enrollment_res_timestamp migration and update createdAt to timestamp
  packages/db/migrations/0023_enrollment_res_timestamp.sql
  packages/db/migrations/meta/0023_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

squash migration, comments, validate time query
  apps/api/src/schema/lib/time.ts
  apps/api/src/schema/study-rooms.ts
  apps/data-pipeline/study-location-scraper/src/pv.ts
  packages/db/migrations/0023_pv_nullable_capacity_tech_enhanced.sql
  packages/db/migrations/0023_pv_study_rooms.sql
  packages/db/migrations/0024_add_study_room_url.sql
  packages/db/migrations/meta/0023_snapshot.json
  packages/db/migrations/meta/0024_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: check-biome, check-prettier

feat: added rest getDates endpoint
  apps/api/src/rest/routes/dining.ts
  apps/api/src/schema/dining.ts
  apps/api/src/services/dining.ts
Due: check-biome

feat: zotmeal endpoint
  apps/api/src/rest/routes/dining.ts
  apps/api/src/schema/dining.ts
  apps/api/src/services/dining.ts
Due: check-biome

clarifying study rooms schema
  apps/api/src/schema/lib/time.ts
  apps/api/src/schema/study-rooms.ts
Due: check-biome

meta updated for pv
  apps/api/src/middleware/openapi-meta.ts
Due: check-biome

feat(scraper): add week helper functions and period detection for enrollment management
  apps/data-pipeline/websoc-scraper/src/lib.ts
Due: check-biome

disclaimer info update for pv
  apps/api/src/middleware/openapi-meta.ts
Due: check-biome

fix(scraper): enhance enrollment snapshot logic based on current term and period
  apps/data-pipeline/websoc-scraper/src/lib.ts
Due: check-biome

feat(programs): two-year chc
  apps/api/src/schema/programs.ts
  apps/data-pipeline/degreeworks-scraper/src/components/DegreeworksClient.ts
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
  apps/data-pipeline/degreeworks-scraper/src/index.ts
  apps/data-pipeline/degreeworks-scraper/src/types.ts
Due: check-biome

tweak: correct formal name here
  apps/data-pipeline/degreeworks-scraper/src/types.ts
Due: check-biome

docs: openapi description typo
  apps/api/src/middleware/openapi-meta.ts
Due: check-biome

fix(scraper): implement dynamic enrollment snapshot frequency
  apps/data-pipeline/websoc-scraper/src/lib.ts
Due: check-biome

two awaits for study location index
  apps/data-pipeline/study-location-scraper/src/index.ts
Due: check-biome

websoc is punishment for the sins of man
  apps/api/src/services/websoc.ts
  apps/data-pipeline/instructor-association-resolver/.gitignore
  apps/data-pipeline/instructor-association-resolver/package.json
  apps/data-pipeline/instructor-association-resolver/src/index.ts
  apps/data-pipeline/instructor-association-resolver/tsconfig.json
  apps/data-pipeline/instructor-scraper/src/index.ts
  apps/data-pipeline/websoc-scraper/src/lib.ts
  packages/db/migrations/0019_flawless_sabra.sql
  packages/db/migrations/0020_damp_mole_man.sql
  packages/db/migrations/0023_fix_missing_instructor_data.sql
  packages/db/migrations/meta/0023_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
  pnpm-lock.yaml
Due: check-biome, check-prettier

removed unneeded comments in index.ts
  apps/data-pipeline/study-location-scraper/src/index.ts
Due: check-biome

docs: openapi description typo (#299)
  apps/api/src/middleware/openapi-meta.ts
Due: check-biome

adjusted awaits for handler.ts
  apps/data-pipeline/study-location-scraper/src/handler.ts
Due: check-biome

fix: missing return statement for zotmeal endpoint
  apps/api/src/rest/routes/dining.ts
Due: check-biome

chore: rename variable for zotmeal endpoint return statement
  apps/api/src/rest/routes/dining.ts
Due: check-biome

chore: move datesRoute code
  apps/api/src/rest/routes/dining.ts
Due: check-biome

refix typo in meta
  apps/api/src/middleware/openapi-meta.ts
Due: check-biome

Path conditions:
  check-biome: any of: *.{ts,tsx,cjs}, but not: **/worker-configuration.d.ts, **/.wrangler/**
  check-prettier: any of: *.{json,md,toml,yml,yaml}
