Repository icssc/anteater-api: changes, and which lefthook commands are due for each by the changed paths.
All: check-biome, check-prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check-biome:
      glob: "*.{ts,tsx,cjs}"
      run: pnpm check:biome -- {staged_files}
      stage_fixed: true
      exclude:
        - "**/worker-configuration.d.ts"
        - "**/.wrangler/**"
    check-prettier:
      glob: "*.{json,md,toml,yml,yaml}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

stray migrate file
  packages/db/migrations/0016_widen-school-requirement-id.sql
Due: none

made year check in apps/api/schema/lib/year.ts explicit to handle empty string, null, and undefined
  apps/api/src/schema/lib/year.ts
Due: check-biome

updated to migration 18
  packages/db/migrations/0018_ap_exam_ge_course_count.sql
  packages/db/migrations/meta/0018_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: check-prettier

fix(degreeworks-scraper): incorrect construction of new database entity
  apps/data-pipeline/degreeworks-scraper/src/index.ts
Due: check-biome

feat(ci): type-check staging deployments
  .github/workflows/deploy_staging.yml
Due: check-prettier

feat(ci): type-check production deployments
  .github/workflows/deploy_prod.yml
Due: check-prettier

rename workflow step to "Check types"
  .github/workflows/deploy_prod.yml
  .github/workflows/deploy_staging.yml
Due: check-prettier

added tags to openapi-meta.ts for Programs and Study Rooms
  apps/api/src/middleware/openapi-meta.ts
Due: check-biome

fix(degreeworks-scraper): include this pacakge in type checking
  apps/data-pipeline/degreeworks-scraper/package.json
Due: check-prettier

added zod to scraper and refactored code
  apps/api/src/graphql/schema/map.ts
  apps/api/src/schema/map.ts
  apps/data-pipeline/degreeworks-scraper/src/index.ts
  apps/data-pipeline/map-scraper/package.json
  apps/data-pipeline/map-scraper/src/index.ts
  apps/data-pipeline/map-scraper/src/schema.ts
  packages/db/migrations/0018_map_data.sql
  packages/db/migrations/meta/0018_snapshot.json
  packages/db/migrations/meta/_journal.json
  pnpm-lock.yaml
Due: check-biome, check-prettier

fixed db upsert to have one transaction and verified through testing
  apps/data-pipeline/map-scraper/src/index.ts
  apps/data-pipeline/map-scraper/src/schema.ts
  packages/db/migrations/0018_map_locations.sql
  packages/db/migrations/meta/0018_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: check-biome, check-prettier

lagging space discrepancy
  packages/db/migrations/meta/0016_snapshot.json
Due: check-prettier

removed check on empty string from year schema
  apps/api/src/schema/lib/year.ts
Due: check-biome

fix(missing-specs): add descriptions to query schema fields under enrollment history
  apps/api/src/schema/enrollment-history.ts
Due: check-biome

fix(missing-specs): update instructorName description
  apps/api/src/schema/enrollment-history.ts
Due: check-biome

fix(missing-specs): update example for section code in query schema
  apps/api/src/schema/enrollment-history.ts
Due: check-biome

fix(missing-specs): add OpenAPI descriptions and examples to grades query schema fields
  apps/api/src/schema/grades.ts
Due: check-biome

fix(missing-specs): add OpenAPI descriptions and examples to websoc query and response schema fields
  apps/api/src/schema/websoc.ts
Due: check-biome

fix(missing-specs): update description for excludePNP field in grades query schema
  apps/api/src/schema/grades.ts
Due: check-biome

fix(missing-specs): add OpenAPI descriptions and examples to courses query schema fields
  apps/api/src/schema/courses.ts
Due: check-biome

fix(missing-specs): add OpenAPI descriptions and examples to instructors query schema fields
  apps/api/src/schema/instructors.ts
Due: check-biome

removed type annotations on refine calls
  apps/api/src/schema/lib/year.ts
Due: check-biome

feat(schema): include id field primary key in sample program schemas
  apps/api/src/graphql/schema/programs.ts
  apps/api/src/schema/programs.ts
  apps/api/src/services/programs.ts
  apps/data-pipeline/course-scraper/src/index.ts
  packages/db/src/schema.ts
Due: check-biome

fix(scraper): align sample program field names with database schema
  apps/data-pipeline/course-scraper/src/index.ts
Due: check-biome

addressed comments, need further implementation and filtering for non-hardcoded POIs
  apps/api/src/graphql/resolvers/map.ts
  apps/api/src/graphql/schema/map.ts
  apps/api/src/rest/routes/map.ts
  apps/data-pipeline/map-scraper/src/index.ts
Due: check-biome

as const
  apps/data-pipeline/map-scraper/src/index.ts
Due: check-biome

fix/refactor: flatten sample program structure
  apps/api/src/graphql/schema/programs.ts
  apps/api/src/schema/programs.ts
  apps/data-pipeline/course-scraper/src/index.ts
  packages/db/src/schema.ts
Due: check-biome

feat: Add migration 0018_sample_program_scrapper
  packages/db/migrations/0018_sample_program_scrapper.sql
  packages/db/migrations/meta/0018_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: check-prettier

fix (missing-specs): update course query schema examples and descriptions for clarity
  apps/api/src/schema/courses.ts
Due: check-biome

fix (missing-specs): enhance descriptions for instructor query schemas to clarify case sensitivity and pagination details
  apps/api/src/schema/instructors.ts
Due: check-biome

fix (missing-specs): update instructor name descriptions to clarify case sensitivity across enrollment and grades schemas; simplify term response schema examples
  apps/api/src/schema/enrollment-history.ts
  apps/api/src/schema/grades.ts
  apps/api/src/schema/websoc.ts
Due: check-biome

fix (missing-specs): update example values in websoc query schema for section codes, instructor names, building, and room for improved accuracy
  apps/api/src/schema/websoc.ts
Due: check-biome

changed schema to not accept any or unknown
  apps/data-pipeline/map-scraper/src/index.ts
  apps/data-pipeline/map-scraper/src/schema.ts
  packages/db/migrations/0019_uci_map_locations.sql
  packages/db/migrations/meta/0019_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

reformatted config files
  apps/data-pipeline/ap-exams-importer/src/index.ts
Due: check-biome

fixed some dependency issues
  apps/data-pipeline/ap-exams-importer/package.json
  pnpm-lock.yaml
Due: check-prettier

changed ap-Exam-Importer to update entries instead of replace
  apps/data-pipeline/ap-exams-importer/src/index.ts
Due: check-biome

added cleaning for unused ap-exam-reward rows
  apps/data-pipeline/ap-exams-importer/src/index.ts
Due: check-biome

removed need for drizzle
  apps/data-pipeline/ap-exams-importer/package.json
  apps/data-pipeline/ap-exams-importer/src/index.ts
  packages/db/package.json
  pnpm-lock.yaml
Due: check-biome, check-prettier

changed exports from package/db to fully utilize drizzle for apexamimporter
  apps/data-pipeline/ap-exams-importer/src/index.ts
Due: check-biome

fix(missing-specs): enhance descriptions for course query parameters to improve clarity and usability
  apps/api/src/schema/courses.ts
Due: check-biome
