Repository icssc/anteater-api: changes, and which lefthook commands are due for each by the changed paths.
All: check-biome, check-prettier

check-biome:
  run: pnpm check:biome -- {staged_files}
  stage_fixed: true

check-prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

chore: add openapi doc to zotmeal route
  apps/api/src/schema/dining.ts
Due: check-biome

feat: add plaza verde study room scraper (#289)
  apps/api/src/graphql/schema/study-rooms.ts
  apps/api/src/middleware/openapi-meta.ts
  apps/api/src/schema/lib/time.ts
  apps/api/src/schema/study-rooms.ts
  apps/api/src/services/study-rooms.ts
  apps/data-pipeline/study-location-scraper/package.json
  apps/data-pipeline/study-location-scraper/src/handler.ts
  apps/data-pipeline/study-location-scraper/src/index.ts
  apps/data-pipeline/study-location-scraper/src/lib.ts
  apps/data-pipeline/study-location-scraper/src/pv.ts
  packages/db/migrations/0023_pv_study_rooms.sql
  packages/db/migrations/meta/0023_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
  pnpm-lock.yaml
Due: check-biome, check-prettier

filtered out DegreeworksSpecRequirement when adding to db to reduce redundancy
  apps/data-pipeline/degreeworks-scraper/src/index.ts
Due: check-biome

removed 2 migrations so that we could redo
  packages/db/migrations/0023_fresh_chimera.sql
  packages/db/migrations/0024_nebulous_chronomancer.sql
  packages/db/migrations/meta/0023_snapshot.json
  packages/db/migrations/meta/0024_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: check-prettier

reran migration with --name flag
  packages/db/migrations/0023_add_req_spec_to_major.sql
  packages/db/migrations/meta/0023_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: check-prettier

refactored parsedPrograms to store majorDegrees of (major, spec) pairs
  apps/data-pipeline/degreeworks-scraper/src/components/DegreeworksClient.ts
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

save found major, spec pairs when finding specs
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

perf: parallelize independent awaits in search service doSearch
  apps/api/src/services/search.ts
Due: check-biome

temp commit, upserting is currently broken
  apps/data-pipeline/degreeworks-scraper/src/components/DegreeworksClient.ts
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
  apps/data-pipeline/degreeworks-scraper/src/index.ts
  packages/db/migrations/0024_glamorous_maria_hill.sql
  packages/db/migrations/meta/0024_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

chore: rename zotmeal to peterplate
  apps/api/src/rest/routes/dining.ts
  apps/api/src/schema/dining.ts
  apps/api/src/services/dining.ts
Due: check-biome

chore: restaurant count conditional matches error message
  apps/api/src/services/dining.ts
Due: check-biome

fix: gql cache seconds to milliseconds conversion
  apps/api/src/graphql/plugins/yoga-kv-cache.ts
Due: check-biome

refactor: use object construction shorthand
  apps/api/src/graphql/plugins/yoga-kv-cache.ts
Due: check-biome

feat: dish image URLs (https://github.com/icssc/PeterPlate/pull/621)
  apps/data-pipeline/dining-scraper/src/fetch-menu-week-view.ts
  packages/db/migrations/0023_dining.sql
  packages/db/migrations/meta/0023_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

missing optional chain
  apps/data-pipeline/dining-scraper/src/fetch-menu-week-view.ts
Due: check-biome

crazy pedantic reordering
  apps/data-pipeline/dining-scraper/src/fetch-menu-week-view.ts
Due: check-biome

add imageURL to dish on api
  apps/api/src/schema/dining.ts
Due: check-biome

nutrition scalars as float
  apps/api/src/schema/dining.ts
  apps/data-pipeline/dining-scraper/src/fetch-menu-week-view.ts
  packages/db/migrations/0024_dining.sql
  packages/db/migrations/meta/0024_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

fix: gql cache milliseconds conversion (#306)
  apps/api/src/graphql/plugins/yoga-kv-cache.ts
Due: check-biome

feat(refactor): Moved the week calculation logic into stdlib so it isnt duplicated in lib.ts
  apps/data-pipeline/websoc-scraper/src/lib.ts
  packages/stdlib/src/calendar-utils.ts
  packages/stdlib/src/index.ts
Due: check-biome

feat(fix): fixing migration
  packages/db/migrations/0023_enrollment_res_timestamp.sql
  packages/db/migrations/meta/0023_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: check-prettier

fix: omitted redundant FKs in output
  apps/api/src/schema/dining.ts
  apps/api/src/services/dining.ts
Due: check-biome

feat(migration): Migration update
  packages/db/migrations/0024_enrollment_res_timestamp.sql
  packages/db/migrations/meta/0024_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: check-prettier

feat: add hashed id for individual requirements
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
  apps/data-pipeline/degreeworks-scraper/src/types.ts
  packages/db/src/schema.ts
Due: check-biome

feat: add `requirementId` to routes
  apps/api/src/graphql/schema/programs.ts
  apps/api/src/schema/programs.ts
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
Due: check-biome

fix: clean up
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
  apps/data-pipeline/degreeworks-scraper/src/types.ts
Due: check-biome

feat: fix id; add hashed requirements as new column to college_requirement
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
  apps/data-pipeline/degreeworks-scraper/src/index.ts
  apps/data-pipeline/degreeworks-scraper/src/types.ts
  packages/db/src/schema.ts
Due: check-biome

fix: Update requirementId salts
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
  apps/data-pipeline/degreeworks-scraper/src/types.ts
Due: check-biome

feat: add migration files
  packages/db/migrations/0024_requirement_id_hash.sql
  packages/db/migrations/meta/0024_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: check-prettier

fix: repair import
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
Due: check-biome

feat(fix): correct week range for ADD_DROP period in detectPeriod function
  packages/stdlib/src/calendar-utils.ts
Due: check-biome

feat(fix): refactor snapshot logic by moving it from doChunkUpsert to scrapeTerm
  apps/data-pipeline/websoc-scraper/src/lib.ts
Due: check-biome

Grades schema simplified with extends
  apps/api/src/schema/grades.ts
Due: check-biome

refactoring instructors.ts with base schemas
  apps/api/src/schema/instructors.ts
Due: check-biome

Unifying geCategoryToColumn declarations
  apps/api/src/services/ap-exams.ts
  apps/data-pipeline/ap-exams-importer/src/index.ts
Due: check-biome

ge categories consolidation
  apps/api/src/schema/ap-exams.ts
  apps/api/src/schema/courses.ts
  apps/api/src/schema/grades.ts
  apps/api/src/schema/index.ts
  apps/api/src/schema/lib/course.ts
  apps/api/src/schema/search.ts
  apps/data-pipeline/ap-exams-importer/src/data.ts
  apps/data-pipeline/websoc-scraper/src/lib.ts
Due: check-biome

fixed missed geCategories import
  apps/data-pipeline/ap-exams-importer/src/index.ts
Due: check-biome

chore: peterplate endpoint joins
  apps/api/src/services/dining.ts
Due: check-biome

fix
  apps/data-pipeline/course-scraper/src/index.ts
Due: check-biome

docs: updated dining endpoint openapi documentation
  apps/api/src/schema/dining.ts
Due: check-biome

Path conditions:
  check-biome: any of: *.{ts,tsx,cjs}, but not: **/worker-configuration.d.ts, **/.wrangler/**
  check-prettier: any of: *.{json,md,toml,yml,yaml}
