Repository icssc/anteater-api: changes, and which lefthook commands are due for each by the changed paths.
All: check-biome, check-prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check-biome:
      glob: "*.{ts,tsx,cjs}"
      run: pnpm check:biome -- {staged_files}
      stage_fixed: true
      exclude:
        - "**/worker-configuration.d.ts"
        - "**/.wrangler/**"
    check-prettier:
      glob: "*.{json,md,toml,yml,yaml}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

step
  apps/data-pipeline/dining-scraper/src/index.ts
  apps/data-pipeline/dining-scraper/src/query.ts
  apps/data-pipeline/dining-scraper/src/restaurant/index.ts
  apps/data-pipeline/dining-scraper/src/restaurant/model.ts
  apps/data-pipeline/dining-scraper/src/restaurant/util.ts
  packages/db/migrations/0024_dining.sql
  packages/db/migrations/meta/0024_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

abstract out zod parsing
  apps/data-pipeline/dining-scraper/src/query.ts
  apps/data-pipeline/dining-scraper/src/restaurant/index.ts
  apps/data-pipeline/dining-scraper/src/restaurant/util.ts
Due: check-biome

refactor: refactor
  apps/data-pipeline/dining-scraper/src/fetch-location.ts
  apps/data-pipeline/dining-scraper/src/lib.ts
  apps/data-pipeline/dining-scraper/src/model.ts
  apps/data-pipeline/dining-scraper/src/restaurant/model.ts
  apps/data-pipeline/dining-scraper/src/update-restaurant.ts
  apps/data-pipeline/dining-scraper/src/util.ts
  apps/data-pipeline/dining-scraper/src/week-view.ts
Due: check-biome

fix: zod deprecations
  apps/data-pipeline/dining-scraper/src/fetch-location.ts
Due: check-biome

feat: done
  apps/data-pipeline/dining-scraper/package.json
  apps/data-pipeline/dining-scraper/src/fetch-menu-week-view.ts
  apps/data-pipeline/dining-scraper/src/lib.ts
  apps/data-pipeline/dining-scraper/src/model.ts
  apps/data-pipeline/dining-scraper/src/update-restaurant.ts
  packages/db/migrations/0023_dining.sql
  packages/db/migrations/0024_dining.sql
  packages/db/migrations/meta/0023_snapshot.json
  packages/db/migrations/meta/0024_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
  pnpm-lock.yaml
Due: check-biome, check-prettier

do daily
  apps/data-pipeline/dining-scraper/wrangler.toml
Due: check-prettier

fix: typo lmao
  packages/db/migrations/0023_dining.sql
  packages/db/migrations/meta/0023_snapshot.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

remove excess type hints
  apps/data-pipeline/dining-scraper/src/update-restaurant.ts
Due: check-biome

fix: this count
  apps/data-pipeline/dining-scraper/src/update-restaurant.ts
Due: check-biome

feat: events
  apps/data-pipeline/dining-scraper/src/fetch-event-images.ts
  apps/data-pipeline/dining-scraper/src/lib.ts
  apps/data-pipeline/dining-scraper/src/update-events.ts
  packages/db/migrations/0023_dining.sql
  packages/db/migrations/meta/0023_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

stray logs
  apps/data-pipeline/dining-scraper/src/lib.ts
Due: check-biome

comment nit
  apps/data-pipeline/dining-scraper/src/update-restaurant.ts
Due: check-biome

don't need these columns
  packages/db/migrations/0023_dining.sql
  packages/db/src/schema.ts
Due: check-biome

no need to collect this iter
  apps/data-pipeline/dining-scraper/src/update-restaurant.ts
Due: check-biome

more logs
  apps/data-pipeline/dining-scraper/src/lib.ts
  apps/data-pipeline/dining-scraper/src/update-restaurant.ts
Due: check-biome

style stuff
  apps/data-pipeline/dining-scraper/src/fetch-menu-week-view.ts
  apps/data-pipeline/dining-scraper/src/util.ts
Due: check-biome

don't need all these headers
  apps/data-pipeline/dining-scraper/src/fetch-event-images.ts
  apps/data-pipeline/dining-scraper/src/query.ts
Due: check-biome

fix: revert changes to api package
  apps/api/worker-configuration.d.ts
  apps/api/wrangler.toml
Due: check-prettier

more logs
  apps/data-pipeline/dining-scraper/src/lib.ts
  apps/data-pipeline/dining-scraper/src/update-events.ts
Due: check-biome

chore: remove unnecessary scripts
  apps/key-manager/package.json
Due: check-prettier

ci: fix key manager (#265)
  .github/actions/setup-node-and-pnpm/action.yml
  .github/workflows/delete_staging.yml
  .github/workflows/deploy_prod.yml
  .github/workflows/deploy_staging.yml
  apps/key-manager/package.json
  apps/key-manager/src/auth.config.ts
  apps/key-manager/sst.config.ts
  apps/key-manager/tsconfig.json
  pnpm-lock.yaml
Due: check-biome, check-prettier

Revert "ci: fix key manager (#265)"
  .github/actions/setup-node-and-pnpm/action.yml
  .github/workflows/delete_staging.yml
  .github/workflows/deploy_prod.yml
  .github/workflows/deploy_staging.yml
  apps/key-manager/package.json
  apps/key-manager/src/auth.config.ts
  apps/key-manager/sst.config.ts
  apps/key-manager/tsconfig.json
  pnpm-lock.yaml
Due: check-biome, check-prettier

Revert "ci: fix key manager" (#293)
  .github/actions/setup-node-and-pnpm/action.yml
  .github/workflows/delete_staging.yml
  .github/workflows/deploy_prod.yml
  .github/workflows/deploy_staging.yml
  apps/key-manager/package.json
  apps/key-manager/src/auth.config.ts
  apps/key-manager/sst.config.ts
  apps/key-manager/tsconfig.json
  pnpm-lock.yaml
Due: check-biome, check-prettier

chore: debug sst without pnpm cache
  .github/actions/setup-node-and-pnpm/action.yml
  .github/workflows/deploy_staging.yml
Due: check-prettier

chore: user key-manager deploy script
  .github/workflows/deploy_staging.yml
Due: check-prettier

refactor: fixed incorrect date calculation and removed N+1 db upsert for diningPeriod
  apps/data-pipeline/dining-scraper/src/update-restaurant.ts
  packages/db/src/schema.ts
Due: check-biome

chore: remove coerced terminal root
  .github/actions/setup-node-and-pnpm/action.yml
  .github/workflows/deploy_staging.yml
Due: check-prettier

chore: re add root
  .github/workflows/deploy_staging.yml
Due: check-prettier

chore: add back cache and test api deployment
  .github/actions/setup-node-and-pnpm/action.yml
  .github/workflows/deploy_staging.yml
Due: check-prettier

refactor: periods logic and migrations
  apps/data-pipeline/dining-scraper/src/update-restaurant.ts
  packages/db/migrations/0023_dining.sql
  packages/db/migrations/meta/0023_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: check-biome, check-prettier

feat: dining events rest endpoint
  apps/api/src/rest/index.ts
  apps/api/src/rest/routes/dining.ts
  apps/api/src/schema/dining.ts
  apps/api/src/schema/index.ts
  apps/api/src/services/dining.ts
  apps/api/src/services/index.ts
Due: check-biome

chore: reset deploy scripts
  .github/workflows/deploy_prod.yml
  .github/workflows/deploy_staging.yml
Due: check-prettier

ci: fix key manager... again (#294)
  .github/actions/setup-node-and-pnpm/action.yml
  .github/workflows/delete_staging.yml
  .github/workflows/deploy_prod.yml
  .github/workflows/deploy_staging.yml
  apps/key-manager/package.json
  apps/key-manager/src/auth.config.ts
  apps/key-manager/sst.config.ts
  apps/key-manager/tsconfig.json
  pnpm-lock.yaml
Due: check-biome, check-prettier

refactored RuleBase type to have a nullable proxyAdvice
  apps/data-pipeline/degreeworks-scraper/src/types.ts
Due: check-biome

added degreeworksSpecRequirment to schema
  packages/db/src/schema.ts
Due: check-biome

added ifElsePart property to RuleBase
  apps/data-pipeline/degreeworks-scraper/src/types.ts
Due: check-biome

push DWSpecRequirement when encountering match in ruleArrayToReq
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
Due: check-biome

added requireSpec to schema
  apps/data-pipeline/degreeworks-scraper/src/index.ts
  packages/db/src/schema.ts
Due: check-biome

Filtering out past slots
  apps/data-pipeline/study-location-scraper/src/pv.ts
  pnpm-lock.yaml
Due: check-biome, check-prettier

new way of doing date
  apps/data-pipeline/study-location-scraper/src/pv.ts
Due: check-biome
