Repository icssc/anteater-api: changes, and which lefthook commands are due for each by the changed paths.
All: check-biome, check-prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check-biome:
      glob: "*.{ts,tsx,cjs}"
      run: pnpm check:biome -- {staged_files}
      stage_fixed: true
      exclude:
        - "**/worker-configuration.d.ts"
        - "**/.wrangler/**"
    check-prettier:
      glob: "*.{json,md,toml,yml,yaml}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

feat: add `requirementId` to routes
  apps/api/src/graphql/schema/programs.ts
  apps/api/src/schema/programs.ts
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
Due: check-biome

fix: correct import
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
Due: check-biome

feat: add migrations
  packages/db/migrations/0026_requirements_id.sql
  packages/db/migrations/meta/0026_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: check-prettier

change "off" dining periods to midnight through midnight
  apps/data-pipeline/dining-scraper/src/util.ts
Due: check-biome

dining restaurantToday start/end times made nullable
  apps/api/src/schema/dining.ts
Due: check-biome

dining restaurantToday start/end times made nullable
  apps/data-pipeline/dining-scraper/src/util.ts
Due: check-biome

letting dining parseOpeningHours time arrays hold null values
  apps/data-pipeline/dining-scraper/src/util.ts
Due: check-biome

fixing dining array nulls error
  apps/data-pipeline/dining-scraper/src/util.ts
Due: check-biome

comments/adjustments added to time-utils
  packages/stdlib/src/time-utils.ts
Due: check-biome

feat(programs): Add unique hashed ID for requirements (#277)
  apps/api/src/graphql/schema/programs.ts
  apps/api/src/schema/programs.ts
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
  apps/data-pipeline/degreeworks-scraper/src/index.ts
  apps/data-pipeline/degreeworks-scraper/src/types.ts
  packages/db/migrations/0026_requirements_id.sql
  packages/db/migrations/meta/0026_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

"merge" main
  packages/db/migrations/0026_requirements_id.sql
  packages/db/migrations/0027_websoc_meta_drop_last_dept_scraped.sql
  packages/db/migrations/meta/0027_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

better error logs on graphql logs and delete migration to sync with main
  apps/api/src/services/programs.ts
  apps/data-pipeline/degreeworks-scraper/src/index.ts
  packages/db/migrations/0026_polymorphic_major_requirements.sql
  packages/db/migrations/meta/0026_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

add two-yr CHC type update to schemas
  apps/data-pipeline/degreeworks-scraper/src/schema.ts
Due: check-biome

change to rule base type fields from newer commit
  apps/data-pipeline/degreeworks-scraper/src/schema.ts
Due: check-biome

resolve certain schemas and types that overlap
  apps/data-pipeline/degreeworks-scraper/src/schema.ts
  apps/data-pipeline/degreeworks-scraper/src/types.ts
Due: check-biome

pleeeease be clean
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
  apps/data-pipeline/degreeworks-scraper/src/types.ts
Due: check-biome

a
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

conditions and multiple
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
Due: check-biome

small qol
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
Due: check-biome

ordering
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
Due: check-biome

fix(degreeworks): duplicate courses (#334)
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
Due: check-biome

comments and <>
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
Due: check-biome

catalog yr
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

ruleArrayToRequirements
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
Due: check-biome

you can't park there
  packages/db/migrations/0026_websoc_meta_drop_last_dept_scraped.sql
Due: none

shift bounds a tad
  apps/data-pipeline/websoc-scraper/src/lib.ts
Due: check-biome

doc as requested
  apps/data-pipeline/websoc-scraper/src/lib.ts
Due: check-biome

reform the comment
  apps/data-pipeline/websoc-scraper/src/lib.ts
Due: check-biome

ch
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
Due: check-biome

probably what I meant
  apps/data-pipeline/degreeworks-scraper/src/types.ts
Due: check-biome

remigrate and fix dwClient majorAudit bug
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
  packages/db/migrations/0027_polymorphic_major_requirements.sql
  packages/db/migrations/meta/0027_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: check-biome, check-prettier

final i hope
  packages/db/migrations/0025_major_specialization_required.sql
  packages/db/src/schema.ts
Due: check-biome

drop sst
  apps/key-manager/package.json
  pnpm-lock.yaml
Due: check-prettier

ok now do this properly
  .github/workflows/deploy_prod.yml
  apps/key-manager/wrangler.toml
Due: check-prettier

rename this
  .github/workflows/deploy_prod.yml
Due: check-prettier

comment out unused secrets
  .github/workflows/deploy_prod.yml
Due: check-prettier

test this in staging :D
  .github/workflows/deploy_staging.yml
Due: check-prettier

blaargh
  .github/workflows/deploy_staging.yml
Due: check-prettier

secretslop
  .github/workflows/deploy_staging.yml
Due: check-prettier

it would be so awesome
  .github/workflows/deploy_staging.yml
  apps/key-manager/wrangler.toml
Due: check-prettier
