Repository icssc/anteater-api: changes, and which lefthook commands are due for each by the changed paths.
All: check-biome, check-prettier

check-biome:
  run: pnpm check:biome -- {staged_files}
  stage_fixed: true

check-prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

fix(missing-specs): update descriptions for instructor query parameters to clarify case sensitivity and improve pagination explanations
  apps/api/src/schema/instructors.ts
Due: check-biome

fix(missing-specs): update instructor name descriptions to be case-insensitive and enhance department code descriptions for clarity
  apps/api/src/schema/enrollment-history.ts
  apps/api/src/schema/grades.ts
  apps/api/src/schema/websoc.ts
Due: check-biome

feat: moved sample program scraper to its own location
  apps/data-pipeline/course-scraper/src/index.ts
  apps/data-pipeline/sample-program-scraper/.gitignore
  apps/data-pipeline/sample-program-scraper/package.json
  apps/data-pipeline/sample-program-scraper/src/index.ts
  apps/data-pipeline/sample-program-scraper/tsconfig.json
Due: check-biome, check-prettier

refactor: changed schema names to lowercase to fit standerized practice
  apps/api/src/graphql/schema/programs.ts
  apps/api/src/schema/programs.ts
  apps/data-pipeline/sample-program-scraper/src/index.ts
  packages/db/src/schema.ts
Due: check-biome

feat: update sample program queries to use ID instead of program name
  apps/api/src/graphql/schema/programs.ts
  apps/api/src/rest/routes/programs.ts
  apps/api/src/schema/programs.ts
  apps/api/src/services/programs.ts
Due: check-biome

fix(missing-specs): enhance course query parameter descriptions for clarity and specificity
  apps/api/src/schema/courses.ts
Due: check-biome

fix(missing-specs): enhance descriptions for title and department query parameters for clarity
  apps/api/src/schema/instructors.ts
Due: check-biome

fix(missing-specs): enhance descriptions for instructor name, department code, and course number query parameters for clarity
  apps/api/src/schema/enrollment-history.ts
Due: check-biome

fix(missing-specs): enhance descriptions for instructor, department, and course number query parameters for clarity
  apps/api/src/schema/grades.ts
Due: check-biome

fix(missing-specs): enhance query parameter descriptions for clarity and specificity
  apps/api/src/schema/websoc.ts
Due: check-biome

fix(missing-specs): enhance course number query parameter description for clarity and specificity
  apps/api/src/schema/websoc.ts
Due: check-biome

fix(missing-specs): remove example value for course number query parameter
  apps/api/src/schema/websoc.ts
Due: check-biome

fix(missing-specs): enhance descriptions for course and instructor query parameters for clarity
  apps/api/src/schema/courses.ts
  apps/api/src/schema/instructors.ts
Due: check-biome

feat: remove superscript tags from scraped program data
  apps/data-pipeline/sample-program-scraper/src/index.ts
Due: check-biome

removed some unused imports
  packages/db/package.json
  packages/db/src/index.ts
Due: check-biome, check-prettier

feat: Add migration entry for sample program (0019_sample_program)
  packages/db/migrations/0019_sample_program.sql
  packages/db/migrations/meta/0019_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: check-prettier

Revert "feat: Add migration entry for sample program (0019_sample_program)"
  packages/db/migrations/0019_sample_program.sql
  packages/db/migrations/meta/0019_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: check-prettier

fix: sync pnpm-lock.yaml and regenerate worker types
  pnpm-lock.yaml
Due: check-prettier

fix: Add new migration entry for sample programs (0019_sample_programs)
  packages/db/migrations/0019_sample_programs.sql
  packages/db/migrations/meta/0019_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: check-prettier

fix(study-rooms): slots non-nullable in graphql
  apps/api/src/graphql/schema/study-rooms.ts
Due: check-biome

fix(missing-specs): simplify descriptions for department, course number, and course numeric query parameters
  apps/api/src/schema/courses.ts
Due: check-biome

fix(missing-specs): refine descriptions for instructor, department, and course number query parameters for clarity
  apps/api/src/schema/enrollment-history.ts
Due: check-biome

fix(missing-specs): refine descriptions for instructor, department, and course number query parameters for clarity
  apps/api/src/schema/grades.ts
Due: check-biome

fix(missing-specs): update description for pagination cursor to clarify it is based on instructor UCInetID
  apps/api/src/schema/instructors.ts
Due: check-biome

fix(missing-specs): refine descriptions for department, course title, course number, instructor name, days, building, and room query parameters for clarity
  apps/api/src/schema/websoc.ts
Due: check-biome

Fix: standardize SQL functions to uppercase (#143) (#238)
  apps/api/src/services/programs.ts
  apps/api/src/services/study-rooms.ts
Due: check-biome

fix(missing-specs): refine descriptions for titleContains, departmentContains, building, and room query parameters for clarity
  apps/api/src/schema/instructors.ts
  apps/api/src/schema/websoc.ts
Due: check-biome

fix(study-rooms): slots non-nullable in graphql (#240)
  apps/api/src/graphql/schema/study-rooms.ts
Due: check-biome

fix(missing-specs): update room query parameter description for clarity on meeting requirements
  apps/api/src/schema/websoc.ts
Due: check-biome

fix(missing-specs): improve room query parameter description for clarity
  apps/api/src/schema/websoc.ts
Due: check-biome

fix: add missing openapi query response specifications to schemas (#233)
  apps/api/src/schema/courses.ts
  apps/api/src/schema/enrollment-history.ts
  apps/api/src/schema/grades.ts
  apps/api/src/schema/instructors.ts
  apps/api/src/schema/websoc.ts
Due: check-biome

removed unncesary comments
  .env.example
  apps/data-pipeline/ap-exams-importer/src/index.ts
  docker-compose.yml
  packages/db/src/index.ts
Due: check-biome, check-prettier

reworked removal logic and import style
  apps/data-pipeline/ap-exams-importer/src/index.ts
Due: check-biome

reverted pnpm-lock
  pnpm-lock.yaml
Due: check-prettier

reverting unnecessary code
  apps/key-manager/docker-compose.yml
  docker-compose.yml
  packages/db/src/index.ts
Due: check-biome, check-prettier

reworked delete statement. This one is most efficient
  .env.example
  apps/data-pipeline/ap-exams-importer/src/index.ts
  apps/key-manager/.env.example
Due: check-biome

addressing comments
  apps/data-pipeline/ap-exams-importer/src/index.ts
Due: check-biome

final changes
  apps/key-manager/.env.example
Due: none

updated scraper to ignore invalid entries
  apps/data-pipeline/map-scraper/src/index.ts
  packages/db/migrations/0019_map_location.sql
  packages/db/migrations/meta/0019_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: check-biome, check-prettier

feat: clean up sample program scraping logic for multiple table variation
  apps/api/src/schema/programs.ts
  apps/data-pipeline/sample-program-scraper/src/index.ts
Due: check-biome

Path conditions:
  check-biome: any of: *.{ts,tsx,cjs}, but not: **/worker-configuration.d.ts, **/.wrangler/**
  check-prettier: any of: *.{json,md,toml,yml,yaml}
