Repository icssc/anteater-api: changes, and which lefthook commands are due for each by the changed paths.
All: check-biome, check-prettier

check-biome:
  run: pnpm check:biome -- {staged_files}
  stage_fixed: true

check-prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

course-materials: migration number updated to 31
  packages/db/migrations/0031_course_materials.sql
  packages/db/migrations/meta/0031_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: check-prettier

course-materials: fix unneeded dining change
  apps/api/src/rest/routes/dining.ts
Due: check-biome

remigrating
  packages/db/migrations/0030_enrollment_created_at_timestamp.sql
  packages/db/migrations/meta/0030_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: check-prettier

remigrated
  packages/db/migrations/0031_enrollment_created_at_timestamp.sql
  packages/db/migrations/meta/0031_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: check-prettier

feat: Low/No-Cost Course Materials (#385)
  apps/api/src/graphql/resolvers/course-materials.ts
  apps/api/src/graphql/resolvers/index.ts
  apps/api/src/graphql/schema/course-materials.ts
  apps/api/src/graphql/schema/index.ts
  apps/api/src/middleware/openapi-meta.ts
  apps/api/src/rest/index.ts
  apps/api/src/rest/routes/course-materials.ts
  apps/api/src/schema/course-materials.ts
  apps/api/src/schema/index.ts
  apps/api/src/services/course-materials.ts
  apps/api/src/services/index.ts
  apps/data-pipeline/course-materials-importer/.gitignore
  apps/data-pipeline/course-materials-importer/package.json
  apps/data-pipeline/course-materials-importer/src/index.ts
  apps/data-pipeline/course-materials-importer/tsconfig.json
  packages/db/migrations/0031_course_materials.sql
  packages/db/migrations/meta/0031_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
  pnpm-lock.yaml
Due: check-biome, check-prettier

braces, throw on unrecognized
  apps/data-pipeline/course-scraper/src/index.ts
Due: check-biome

refresh mview after migrating it
  packages/db/migrations/0032_course_repeatability_parsing.sql
Due: none

null instead of undefined
  apps/data-pipeline/course-scraper/src/index.ts
Due: check-biome

units -> unit
  apps/data-pipeline/course-scraper/src/index.ts
Due: check-biome

feat(library-traffic): rename period to bucketStart and make startDate and endDate optional
  apps/api/src/graphql/schema/library-traffic.ts
Due: check-biome

feat(library-traffic): update date handling to make startDate and endDate optional and refine validation logic
  apps/api/src/schema/library-traffic.ts
Due: check-biome

feat(library-traffic): replace Error with HTTPException for better error handling and update period to bucketStart
  apps/api/src/services/library-traffic.ts
Due: check-biome

feat(course-scraper): repeatability parsing (#370)
  apps/api/src/graphql/schema/courses.ts
  apps/api/src/rest/routes/dining.ts
  apps/api/src/schema/courses.ts
  apps/api/src/services/courses.ts
  apps/data-pipeline/course-scraper/src/index.ts
  packages/db/migrations/0032_course_repeatability_parsing.sql
  packages/db/migrations/meta/0032_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

migration delete
  packages/db/migrations/0031_enrollment_created_at_timestamp.sql
  packages/db/migrations/meta/0031_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: check-prettier

remigrate
  packages/db/migrations/0033_enrollment_created_at_timestamp.sql
  packages/db/migrations/meta/0033_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: check-prettier

fight migration
  packages/db/migrations/0033_dw_catalog_years.sql
Due: none

fix(enrollment-history): update descriptions for date range fields to remove "Optional" wording
  apps/api/src/schema/enrollment-history.ts
Due: check-biome

revert changes
  apps/api/src/graphql/index.ts
  apps/api/src/graphql/resolvers/courses.ts
  apps/api/src/hooks/default-hook.ts
  apps/api/src/middleware/global-rate-limiter.ts
  apps/api/src/rest/routes/library-traffic.ts
  apps/api/src/rest/routes/search.ts
  apps/api/src/rest/routes/websoc.ts
  apps/api/src/schema/dining.ts
  apps/api/src/schema/lib/course.ts
  apps/api/src/schema/programs.ts
  apps/api/src/schema/websoc.ts
  apps/api/src/services/courses.ts
  apps/api/src/services/enrollment-history.ts
  apps/api/src/services/larc.ts
  apps/api/src/services/programs.ts
  apps/api/src/services/websoc.ts
  apps/data-pipeline/course-scraper/src/index.ts
  apps/data-pipeline/degreeworks-scraper/src/index.ts
  apps/data-pipeline/degreeworks-scraper/src/types.ts
  apps/data-pipeline/sample-program-scraper/src/index.ts
  apps/data-pipeline/study-location-scraper/src/lib.ts
  apps/data-pipeline/websoc-scraper/src/lib.ts
  biome.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

refactor(enrollment-history): remove unnecessary fields from EnrollmentHistory schema and service
  apps/api/src/graphql/schema/enrollment-history.ts
  apps/api/src/schema/enrollment-history.ts
  apps/api/src/services/enrollment-history.ts
Due: check-biome

remove redundant json check
  apps/data-pipeline/degreeworks-scraper/src/components/DegreeworksClient.ts
Due: check-biome

before/after
  apps/api/src/graphql/schema/dining.ts
  apps/api/src/schema/dining.ts
  apps/api/src/services/dining.ts
Due: check-biome

refactor(library-traffic): streamline history query handling by removing redundant error checks
  apps/api/src/graphql/resolvers/library-traffic.ts
Due: check-biome

refactor(library-traffic): remove redundant 400 responses and enhance descriptions for historical data routes
  apps/api/src/rest/routes/library-traffic.ts
Due: check-biome

refactor(library-traffic): improve descriptions for year, quarter, startDate, and endDate fields in query schemas
  apps/api/src/schema/library-traffic.ts
Due: check-biome

refactor(library-traffic): enhance week bucket logic to be term-relative and clarify granularity handling
  apps/api/src/services/library-traffic.ts
Due: check-biome

feat: feet
  apps/api/src/schema/programs.ts
  apps/api/src/services/programs.ts
Due: check-biome

unused
  apps/api/src/services/programs.ts
Due: check-biome

it's raw
  apps/api/src/services/programs.ts
Due: check-biome

correctness on school requirements and indices
  packages/db/migrations/0033_dw_catalog_years.sql
  packages/db/migrations/meta/0033_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

refactor(library-traffic): convert timestamps to Pacific time for accurate bucket calculations
  apps/api/src/schema/library-traffic.ts
  apps/api/src/services/library-traffic.ts
Due: check-biome

feat(websoc): support courseId query param
  apps/api/src/graphql/schema/websoc.ts
  apps/api/src/schema/websoc.ts
  apps/api/src/services/websoc.ts
Due: check-biome

chore(websoc): reorder courseId fields and simplify query docs
  apps/api/src/graphql/schema/websoc.ts
  apps/api/src/schema/websoc.ts
Due: check-biome

feat (dining): serve past events (#391)
  apps/api/src/graphql/resolvers/dining.ts
  apps/api/src/graphql/schema/dining.ts
  apps/api/src/rest/routes/dining.ts
  apps/api/src/schema/dining.ts
  apps/api/src/services/dining.ts
Due: check-biome

fix(enrollment-history): enhance query logic by adding joins and improving distinct selection
  apps/api/src/services/enrollment-history.ts
Due: check-biome

fix: Redirected Major Requirements to Other Block (#386)
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
  apps/data-pipeline/degreeworks-scraper/src/components/DegreeworksClient.ts
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

refactor(dining): scrape every 3 hours
  apps/data-pipeline/dining-scraper/wrangler.toml
Due: check-prettier

refactor(dining): scrape every 3 hours (#421)
  apps/data-pipeline/dining-scraper/wrangler.toml
Due: check-prettier

fix(dining): event times
  apps/data-pipeline/dining-scraper/src/update-events.ts
Due: check-biome

claude was too defensive
  apps/data-pipeline/dining-scraper/src/update-events.ts
Due: check-biome

Path conditions:
  check-biome: any of: *.{ts,tsx,cjs}, but not: **/worker-configuration.d.ts, **/.wrangler/**
  check-prettier: any of: *.{json,md,toml,yml,yaml}
