Repository icssc/anteater-api: changes, and which lefthook commands are due for each by the changed paths.
All: check-biome, check-prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check-biome:
      glob: "*.{ts,tsx,cjs}"
      run: pnpm check:biome -- {staged_files}
      stage_fixed: true
      exclude:
        - "**/worker-configuration.d.ts"
        - "**/.wrangler/**"
    check-prettier:
      glob: "*.{json,md,toml,yml,yaml}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

redo migration idk
  packages/db/migrations/0030_dw_catalog_years.sql
  packages/db/migrations/meta/0030_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: check-prettier

migratory war crime
  packages/db/migrations/0030_dw_catalog_years.sql
Due: none

you can just forget rows
  apps/data-pipeline/degreeworks-scraper/src/index.ts
Due: check-biome

refactor: remove onConflictDoNothing now that createdAt is timestamp
  apps/data-pipeline/websoc-scraper/src/lib.ts
Due: check-biome

extremely loud incorrect buzzer
  apps/data-pipeline/degreeworks-scraper/src/index.ts
Due: check-biome

fix(websoc): Websoc Instructor Intersection Groups By Section (#397)
  apps/data-pipeline/websoc-scraper/src/lib.ts
Due: check-biome

refactor: downsample existing enrollment history endpoint via DISTINCT ON
  apps/api/src/services/enrollment-history.ts
Due: check-biome

course-materials: touching up api side issues
  apps/api/src/graphql/resolvers/course-materials.ts
  apps/api/src/services/course-materials.ts
Due: check-biome

course-materials: error messages added for format and requirement
  apps/api/src/schema/course-materials.ts
Due: check-biome

doc
  apps/api/src/rest/routes/dining.ts
  apps/api/src/schema/dining.ts
Due: check-biome

if provided
  apps/api/src/schema/dining.ts
Due: check-biome

course-materials: refinement added for course material filtering
  apps/api/src/schema/course-materials.ts
Due: check-biome

shorter
  apps/api/src/schema/dining.ts
Due: check-biome

d
  apps/api/src/schema/dining.ts
Due: check-biome

rename graphql resolver
  apps/api/src/graphql/resolvers/dining.ts
  apps/api/src/graphql/schema/dining.ts
Due: check-biome

refactor: extract section rows query into helper
  apps/api/src/services/enrollment-history.ts
Due: check-biome

refactor: Updated doc description
  apps/api/src/rest/routes/enrollment-history.ts
Due: check-biome

refactor: make date fields optional and update validation for enrollment history query
  apps/api/src/graphql/schema/enrollment-history.ts
  apps/api/src/schema/enrollment-history.ts
Due: check-biome

updated instructor condition builder to reduce amount of queries and improve readability
  apps/api/src/services/search.ts
Due: check-biome

refactor: update description for granular enrollment history route to clarify data availability
  apps/api/src/rest/routes/enrollment-history.ts
Due: check-biome

fixed coverage of missing unlimited cases
  apps/data-pipeline/course-scraper/src/index.ts
Due: check-biome

switched instructor conditions builder to return subquery
  apps/api/src/services/search.ts
Due: check-biome

removed unused async mod
  apps/api/src/services/search.ts
Due: check-biome

removed unsued awaits
  apps/api/src/services/search.ts
Due: check-biome

change schedules unique constraint from upstream_id
  apps/data-pipeline/dining-scraper/src/update-restaurant.ts
  packages/db/src/schema.ts
Due: check-biome

updated repeatabilityType column name
  apps/api/src/graphql/schema/courses.ts
  apps/api/src/schema/courses.ts
  apps/api/src/services/courses.ts
  apps/data-pipeline/course-scraper/src/index.ts
  packages/db/migrations/0030_course_repeatability_data_parsing.sql
  packages/db/migrations/meta/0030_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

update dining schedules migration
  packages/db/migrations/0030_dining_schedules.sql
  packages/db/migrations/meta/0030_snapshot.json
Due: check-prettier

feat(search): allow department-based filtering instructor searches (#404)
  apps/api/src/schema/search.ts
  apps/api/src/services/search.ts
Due: check-biome

course-materials: graphql removing "get" wording
  apps/api/src/graphql/resolvers/course-materials.ts
  apps/api/src/graphql/schema/course-materials.ts
  apps/api/src/schema/course-materials.ts
Due: check-biome

course-materials: fixing graphql
  apps/api/src/graphql/resolvers/course-materials.ts
Due: check-biome

feat(library-traffic): increase cache duration for library traffic types and queries to 1800 seconds
  apps/api/src/graphql/schema/library-traffic.ts
  apps/api/src/rest/routes/library-traffic.ts
Due: check-biome

feat(library-traffic): reorder locationName field and update locationId examples for consistency
  apps/api/src/schema/library-traffic.ts
Due: check-biome

feat(library-traffic): optimize library traffic history pattern query and simplify date handling
  apps/api/src/services/library-traffic.ts
Due: check-biome

feat (dining): serve dining schedules dates and meals (#392)
  apps/api/src/graphql/resolvers/dining.ts
  apps/api/src/graphql/schema/dining.ts
  apps/api/src/rest/routes/dining.ts
  apps/api/src/schema/dining.ts
  apps/api/src/services/dining.ts
  apps/api/src/services/index.ts
  apps/data-pipeline/dining-scraper/src/fetch-location.ts
  apps/data-pipeline/dining-scraper/src/model.ts
  apps/data-pipeline/dining-scraper/src/update-restaurant.ts
  packages/db/migrations/0030_dining_schedules.sql
  packages/db/migrations/meta/0030_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

update migrations
  apps/api/src/services/websoc.ts
  packages/db/migrations/0029_fix_missing_instructor_data.sql
  packages/db/migrations/meta/0029_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/0027_fix_missing_instructor_data.sql
  packages/db/src/schema.ts
Due: check-biome, check-prettier

added new migration files
  packages/db/migrations/0029_polymorphic_major_requirements.sql
  packages/db/migrations/0030_fix_missing_instructor_data.sql
  packages/db/migrations/meta/0030_snapshot.json
Due: check-prettier

moved to migration 31
  packages/db/migrations/0030_dining_schedules.sql
  packages/db/migrations/0031_fix_missing_instructor_data.sql
  packages/db/migrations/meta/0031_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

added missing import
  apps/data-pipeline/websoc-scraper/src/lib.ts
Due: check-biome

course-materials: shortening schema error msgs
  apps/api/src/schema/course-materials.ts
Due: check-biome

course-materials: removing migration
  packages/db/migrations/0030_course_materials.sql
  packages/db/migrations/meta/0030_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: check-prettier
