Repository icssc/anteater-api: changes, and which lefthook commands are due for each by the changed paths.
All: check-biome, check-prettier

check-biome:
  run: pnpm check:biome -- {staged_files}
  stage_fixed: true

check-prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

changed withArray to PascalCase and linked PR to notes on further inqury on DW codes
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
  apps/data-pipeline/degreeworks-scraper/src/types.ts
Due: check-biome

Curl changed to fetch for pv
  apps/data-pipeline/pv-study-room-scraper/src/lib.ts
Due: check-biome

style. added blank line between AP class members
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
Due: check-biome

style: parseUnitRestrictionOperator specify return type in function decleration
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
Due: check-biome

docs: clarified websocSectionSchema OpenAPI desc wording
  apps/api/src/schema/websoc.ts
Due: check-biome

fix: update websoc is_cancelled column to handle websoc data formatting (#272)
  apps/api/src/graphql/schema/websoc.ts
  apps/api/src/schema/websoc.ts
  packages/db/migrations/0022_fix_websoc_is_cancelled.sql
  packages/db/migrations/meta/0022_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

fix: clean up
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
  apps/data-pipeline/degreeworks-scraper/src/types.ts
Due: check-biome

fix: Update requirementId salts
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
  apps/data-pipeline/degreeworks-scraper/src/types.ts
Due: check-biome

feat: add `requirementId` to routes
  apps/api/src/graphql/schema/programs.ts
  apps/api/src/schema/programs.ts
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
Due: check-biome

feat: add hashed id for individual requirements
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
  apps/data-pipeline/degreeworks-scraper/src/types.ts
  packages/db/src/schema.ts
Due: check-biome

feat: fix id; add hashed requirements as new column to college_requirement
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
  apps/data-pipeline/degreeworks-scraper/src/index.ts
  apps/data-pipeline/degreeworks-scraper/src/types.ts
  packages/db/src/schema.ts
Due: check-biome

feat: add migration
  packages/db/migrations/0023_college_requirements_hash.sql
  packages/db/migrations/meta/0023_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: check-prettier

fix: correct the getMajorAudit check
  apps/data-pipeline/degreeworks-scraper/src/components/DegreeworksClient.ts
Due: check-biome

getLocationInformation unparsed
  apps/data-pipeline/peterplate-scraper/logs/1767167156407.log
  apps/data-pipeline/peterplate-scraper/logs/1767390188026.log
  apps/data-pipeline/peterplate-scraper/logs/1768117290680.log
  apps/data-pipeline/peterplate-scraper/logs/1768117337905.log
  apps/data-pipeline/peterplate-scraper/logs/1768117470715.log
  apps/data-pipeline/peterplate-scraper/logs/1768117616916.log
  apps/data-pipeline/peterplate-scraper/package.json
  apps/data-pipeline/peterplate-scraper/src/handler.ts
  apps/data-pipeline/peterplate-scraper/src/index.ts
  apps/data-pipeline/peterplate-scraper/src/lib.ts
  apps/data-pipeline/peterplate-scraper/src/models.ts
  apps/data-pipeline/peterplate-scraper/tsconfig.json
  pnpm-lock.yaml
Due: check-biome, check-prettier

feat: peterplate stations db schema added
  packages/db/migrations/0023_peterplate_stations_test.sql
  packages/db/migrations/meta/0023_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

feat: added upserting of scraped station info into db
  apps/data-pipeline/peterplate-scraper/src/index.ts
  apps/data-pipeline/peterplate-scraper/src/lib.ts
  packages/db/migrations/0024_peterplate_stations_fix.sql
  packages/db/migrations/0025_peterplate_stations_testing_edit_2.sql
  packages/db/migrations/meta/0024_snapshot.json
  packages/db/migrations/meta/0025_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

Adjusted schema, preparing for migration
  apps/data-pipeline/pv-study-room-scraper/src/lib.ts
  packages/db/src/schema.ts
Due: check-biome

fix some typing, change api schema so works for optional (idk if it works). also noted that description is optional here but not in the schema
  apps/api/src/graphql/schema/study-rooms.ts
  apps/api/src/schema/study-rooms.ts
  apps/data-pipeline/pv-study-room-scraper/src/lib.ts
Due: check-biome

package
  apps/data-pipeline/pv-study-room-scraper/package.json
  pnpm-lock.yaml
Due: check-prettier

wrnagler
  apps/data-pipeline/pv-study-room-scraper/wrangler.toml
Due: check-prettier

wrnagler idk
  apps/data-pipeline/pv-study-room-scraper/worker-configuration.d.ts
Due: none

make run evry 30m->10m, optional->nullable
  apps/api/src/schema/study-rooms.ts
  apps/data-pipeline/pv-study-room-scraper/wrangler.toml
Due: check-biome, check-prettier

move to stuyd location scraper
  apps/data-pipeline/pv-study-room-scraper/package.json
  apps/data-pipeline/pv-study-room-scraper/src/handler.ts
  apps/data-pipeline/pv-study-room-scraper/src/index.ts
  apps/data-pipeline/pv-study-room-scraper/tsconfig.json
  apps/data-pipeline/pv-study-room-scraper/worker-configuration.d.ts
  apps/data-pipeline/pv-study-room-scraper/wrangler.toml
  apps/data-pipeline/study-location-scraper/src/handler.ts
  apps/data-pipeline/study-location-scraper/src/index.ts
  apps/data-pipeline/study-location-scraper/src/pv.ts
Due: check-biome, check-prettier

deps: bump out CVEs and deprecations (#281)
  apps/api/package.json
  apps/api/src/index.ts
  apps/data-pipeline/larc-scraper/package.json
  apps/data-pipeline/library-traffic-scraper/package.json
  apps/data-pipeline/mview-refresher/package.json
  apps/data-pipeline/study-location-scraper/package.json
  apps/data-pipeline/websoc-scraper/package.json
  apps/key-manager/package.json
  apps/key-manager/src/components/key/view/KeyTableRow.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: check-biome, check-prettier

schema and migratino
  packages/db/migrations/0022_pv_nullable_capacity_tech_enhanced.sql
  packages/db/migrations/meta/0022_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

refatcor
  apps/data-pipeline/study-location-scraper/src/pv.ts
Due: check-biome

fix(degreeworks-scraper): use the correct catalogue year (#288)
  apps/data-pipeline/degreeworks-scraper/src/components/DegreeworksClient.ts
Due: check-biome

Resolving simpler comments
  apps/data-pipeline/study-location-scraper/src/pv.ts
Due: check-biome

All pv except zod and time zones
  apps/data-pipeline/study-location-scraper/src/handler.ts
  apps/data-pipeline/study-location-scraper/src/index.ts
  apps/data-pipeline/study-location-scraper/src/lib.ts
  apps/data-pipeline/study-location-scraper/src/pv.ts
Due: check-biome

added refresh in CI -- REMOVE WHEN DONE -- and added logs to check in workflow
  apps/key-manager/package.json
Due: check-prettier

updated staging
  .github/workflows/deploy_staging.yml
Due: check-prettier

update staging to save artifact log
  .github/workflows/deploy_staging.yml
Due: check-prettier

flags not working?
  .github/workflows/deploy_staging.yml
Due: check-prettier

logs
  .github/workflows/deploy_staging.yml
Due: check-prettier

more logs
  .github/workflows/deploy_staging.yml
Due: check-prettier

trying to unlock sst before refreshing to get rid of 6 previously running updates
  .github/workflows/deploy_staging.yml
Due: check-prettier

trying to unlock sst before refreshing to get rid of 6 previously running updates typo
  .github/workflows/deploy_staging.yml
Due: check-prettier

wrong dir smh
  .github/workflows/deploy_staging.yml
Due: check-prettier

moooore testing
  .github/workflows/deploy_staging.yml
Due: check-prettier

adjusted staging for testing
  .github/workflows/deploy_staging.yml
Due: check-prettier

Path conditions:
  check-biome: any of: *.{ts,tsx,cjs}, but not: **/worker-configuration.d.ts, **/.wrangler/**
  check-prettier: any of: *.{json,md,toml,yml,yaml}
