Repository icssc/anteater-api: changes, and which lefthook commands are due for each by the changed paths.
All: check-biome, check-prettier

check-biome:
  run: pnpm check:biome -- {staged_files}
  stage_fixed: true

check-prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

refactor: enhance descriptions for sample programs and course variations for clarity
  apps/api/src/rest/routes/catalogue.ts
  apps/api/src/schema/catalogue.ts
Due: check-biome

fix: AP Exam reward tree type isn't consistent Fixes #245
  apps/api/src/schema/ap-exams.ts
Due: check-biome

fix: AP Exam reward tree type isn't consistent (#254)
  apps/api/src/schema/ap-exams.ts
Due: check-biome

fixing sst and key manager
  apps/key-manager/sst.config.ts
Due: check-biome

Fixed non-breaking misuses of terms division and course level (#250)
  apps/api/src/services/grades.ts
  apps/api/src/services/search.ts
  apps/api/src/services/util.ts
  apps/api/src/services/websoc.ts
  packages/public/libwebsoc-next/src/index.ts
Due: check-biome

Consolidating GE model for api
  apps/api/src/schema/ap-exams.ts
  apps/api/src/schema/courses.ts
  apps/api/src/schema/grades.ts
  apps/api/src/schema/index.ts
  apps/api/src/schema/lib/course.ts
  apps/api/src/schema/search.ts
Due: check-biome

refactor: course union implementation + clean ups
  apps/api/src/graphql/schema/catalogue.ts
  apps/api/src/schema/catalogue.ts
  apps/data-pipeline/sample-program-scraper/src/index.ts
  packages/db/migrations/0019_sample_programs.sql
  packages/db/migrations/meta/0019_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

fix(library-traffic): add zod dependency to package.json and update pnpm-lock.yaml
  apps/data-pipeline/library-traffic-scraper/package.json
  pnpm-lock.yaml
Due: check-prettier

fix(library-traffic): update route description for clarity and add cascade delete to traffic count reference
  apps/api/src/rest/routes/library-traffic.ts
  packages/db/src/schema.ts
Due: check-biome

fix(library-traffic): enhance response validation and refactor timestamp handling in fetchLocation
  apps/data-pipeline/library-traffic-scraper/src/lib.ts
Due: check-biome

clarity in docstrings
  apps/api/src/schema/websoc.ts
Due: check-biome

add examples to return schema
  apps/api/src/schema/websoc.ts
Due: check-biome

feat: /websoc/departments (#252)
  apps/api/src/graphql/resolvers/websoc.ts
  apps/api/src/graphql/schema/websoc.ts
  apps/api/src/rest/routes/websoc.ts
  apps/api/src/schema/websoc.ts
  apps/api/src/services/websoc.ts
Due: check-biome

fix: update course entry type from 'string' to 'unknown' for consistency
  apps/api/src/graphql/schema/catalogue.ts
  apps/api/src/schema/catalogue.ts
  apps/data-pipeline/sample-program-scraper/src/index.ts
  packages/db/migrations/meta/0019_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

fix: update comments quick fix
  apps/data-pipeline/sample-program-scraper/src/index.ts
Due: check-biome

refactor: quick fix for CourseEntry comment for clarity
  packages/db/src/schema.ts
Due: check-biome

fix: improve error messages for sample program queries and update schema constants
  apps/api/src/graphql/resolvers/catalogue.ts
  apps/api/src/rest/routes/catalogue.ts
  apps/api/src/schema/catalogue.ts
Due: check-biome

fix: refine descriptions in course entry schemas for clarity
  apps/api/src/schema/catalogue.ts
Due: check-biome

service
  apps/api/src/schema/websoc.ts
  apps/api/src/services/websoc.ts
Due: check-biome

refresh materialized view for courseView after running course scraper
  apps/data-pipeline/course-scraper/src/index.ts
Due: check-biome

fix: add Catalogue entry to OpenAPI metadata and refine sample programs description
  apps/api/src/middleware/openapi-meta.ts
  apps/api/src/rest/routes/catalogue.ts
  apps/api/src/schema/catalogue.ts
Due: check-biome

chore: minimumReleaseAge, upgrade to pnpm 10
  .github/actions/setup-node-and-pnpm/action.yml
  package.json
  pnpm-workspace.yaml
Due: check-prettier

fix: update schema naming for consistency and improve type definitions in sample program scraper
  apps/api/src/schema/catalogue.ts
  apps/data-pipeline/sample-program-scraper/src/index.ts
Due: check-biome

graphql
  apps/api/src/graphql/schema/websoc.ts
Due: check-biome

refactor: simplify program variation types and enhance course code validation
  apps/data-pipeline/sample-program-scraper/src/index.ts
Due: check-biome

changed column name to meeting_id to better describe what it holds
  packages/db/src/schema.ts
Due: check-biome

fix: add missing tags for Programs and Study Rooms to OpenAPI meatdata
  apps/api/src/middleware/openapi-meta.ts
Due: check-biome

fix: update Catalogue description for clarity and rename course validation function
  apps/api/src/middleware/openapi-meta.ts
  apps/data-pipeline/sample-program-scraper/src/index.ts
Due: check-biome

feat: sample program scraper refactor (#235)
  apps/api/src/graphql/resolvers/catalogue.ts
  apps/api/src/graphql/resolvers/index.ts
  apps/api/src/graphql/schema/catalogue.ts
  apps/api/src/graphql/schema/index.ts
  apps/api/src/middleware/openapi-meta.ts
  apps/api/src/rest/index.ts
  apps/api/src/rest/routes/catalogue.ts
  apps/api/src/rest/routes/programs.ts
  apps/api/src/schema/catalogue.ts
  apps/api/src/schema/index.ts
  apps/api/src/services/programs.ts
  apps/data-pipeline/sample-program-scraper/.gitignore
  apps/data-pipeline/sample-program-scraper/package.json
  apps/data-pipeline/sample-program-scraper/src/index.ts
  apps/data-pipeline/sample-program-scraper/tsconfig.json
  packages/db/migrations/0019_sample_programs.sql
  packages/db/migrations/meta/0019_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
  pnpm-lock.yaml
Due: check-biome, check-prettier

docstrings
  apps/api/src/schema/websoc.ts
Due: check-biome

reordered refreshMaterializedView call to come before logging 'All Done,' and removed courseview from mview-refresher
  apps/data-pipeline/course-scraper/src/index.ts
  apps/data-pipeline/mview-refresher/src/handler.ts
Due: check-biome

chore: minimumReleaseAge, upgrade to pnpm 10
  .github/actions/setup-node-and-pnpm/action.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: check-prettier

docs: revised "Programs" and "Study Rooms" tag descriptions
  apps/api/src/middleware/openapi-meta.ts
Due: check-biome

chore: minimumReleaseAge, upgrade to pnpm 10 (#257)
  .github/actions/setup-node-and-pnpm/action.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: check-prettier

fix: refresh materialized view for courseView after running course scraper (#258)
  apps/data-pipeline/course-scraper/src/index.ts
  apps/data-pipeline/mview-refresher/src/handler.ts
Due: check-biome

fix: use word boundaries in GE category regex patterns for consistent GE category extraction
  apps/data-pipeline/course-scraper/src/index.ts
Due: check-biome

fix(library-traffic): add libraryTraffic cache control and improve route description; enhance schema indexing
  apps/api/src/graphql/schema/library-traffic.ts
  apps/api/src/rest/routes/library-traffic.ts
  packages/db/src/schema.ts
Due: check-biome

fix(library-traffic): new migration entry for library traffic in journal
  packages/db/migrations/0020_library_traffic.sql
  packages/db/migrations/meta/0020_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: check-prettier

fix(library-traffic): update descriptions in library traffic schemas for clarity
  apps/api/src/schema/library-traffic.ts
Due: check-biome

fix(library-traffic): rename queryParams to conds for clarity in getLibraryTraffic method
  apps/api/src/services/library-traffic.ts
Due: check-biome

Path conditions:
  check-biome: any of: *.{ts,tsx,cjs}, but not: **/worker-configuration.d.ts, **/.wrangler/**
  check-prettier: any of: *.{json,md,toml,yml,yaml}
