Repository icssc/anteater-api: changes, and which lefthook commands are due for each by the changed paths.
All: check-biome, check-prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check-biome:
      glob: "*.{ts,tsx,cjs}"
      run: pnpm check:biome -- {staged_files}
      stage_fixed: true
      exclude:
        - "**/worker-configuration.d.ts"
        - "**/.wrangler/**"
    check-prettier:
      glob: "*.{json,md,toml,yml,yaml}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

parse resolved spec audit blocks
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

standardize format for spec printing
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

fix missing property access
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

typo fix
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

when spec parent found, add it to parent's spec list
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

Added minimumReleaseAge
  pnpm-workspace.yaml
Due: check-prettier

Added pnpm version requirement
  .npmrc
  package.json
Due: check-prettier

Changed modifier
  package.json
Due: check-prettier

Changed version
  .github/actions/setup-node-and-pnpm/action.yml
Due: check-prettier

formalize specialization association caching system
  apps/data-pipeline/degreeworks-scraper/.gitignore
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
  apps/data-pipeline/degreeworks-scraper/src/types.ts
Due: check-biome

expose catalogYear of dw scraper
  apps/data-pipeline/degreeworks-scraper/src/components/DegreeworksClient.ts
Due: check-biome

spec cache is per catalog year
  apps/data-pipeline/degreeworks-scraper/.gitignore
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

handle cached null association
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

don't save on loop iterations resolved from cache
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

don't attempt to bruteforce a cached null association
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

Changed to version 10.17.0
  .github/actions/setup-node-and-pnpm/action.yml
  .npmrc
  package.json
Due: check-prettier

hardcode ACS cert spec
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

parsedSpecializations needs to store the pair (major, spec program)
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
  apps/data-pipeline/degreeworks-scraper/src/index.ts
Due: check-biome

store and use spec display name instead of block title
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
  apps/data-pipeline/degreeworks-scraper/src/index.ts
Due: check-biome

do not attempt to bruteforce spec parents
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

small correction to a comment
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
Due: check-biome

add a comment
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

type correctness
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

explain a+ mode
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

fix(degreeworks-scraper): infer specialization-major association (#218)
  apps/data-pipeline/degreeworks-scraper/.gitignore
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
  apps/data-pipeline/degreeworks-scraper/src/components/DegreeworksClient.ts
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
  apps/data-pipeline/degreeworks-scraper/src/index.ts
  apps/data-pipeline/degreeworks-scraper/src/types.ts
Due: check-biome

minor file org changes
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
  apps/data-pipeline/degreeworks-scraper/src/schema.ts
Due: check-biome

remove duplicate printout
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

feat: school requirement fetching code
  apps/data-pipeline/degreeworks-scraper/src/components/DegreeworksClient.ts
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

propagate school requirements out of scraper class
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
  apps/data-pipeline/degreeworks-scraper/src/index.ts
  packages/db/src/schema.ts
Due: check-biome

school requirements outside humanities
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
  apps/data-pipeline/degreeworks-scraper/src/index.ts
  packages/db/migrations/0016_college_requirements.sql
  packages/db/migrations/meta/0016_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/package.json
  packages/db/src/schema.ts
  pnpm-lock.yaml
Due: check-biome, check-prettier

Revert "chore: update wrangler version (#207)"
  apps/api/package.json
  apps/api/tsconfig.json
  apps/api/worker-configuration.d.ts
  apps/data-pipeline/larc-scraper/package.json
  apps/data-pipeline/larc-scraper/tsconfig.json
  apps/data-pipeline/larc-scraper/worker-configuration.d.ts
  apps/data-pipeline/mview-refresher/package.json
  apps/data-pipeline/mview-refresher/tsconfig.json
  apps/data-pipeline/mview-refresher/worker-configuration.d.ts
  apps/data-pipeline/study-location-scraper/package.json
  apps/data-pipeline/study-location-scraper/tsconfig.json
  apps/data-pipeline/study-location-scraper/worker-configuration.d.ts
  apps/data-pipeline/websoc-scraper/package.json
  apps/data-pipeline/websoc-scraper/tsconfig.json
  apps/data-pipeline/websoc-scraper/worker-configuration.d.ts
  apps/key-manager/package.json
  biome.json
  lefthook.yml
  pnpm-lock.yaml
Due: check-prettier

endpoint side
  apps/api/src/graphql/schema/programs.ts
  apps/api/src/schema/programs.ts
  apps/api/src/services/programs.ts
  packages/db/migrations/meta/0016_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

feat(programs): school requirements except humanities (#222)
  apps/api/src/graphql/schema/programs.ts
  apps/api/src/schema/programs.ts
  apps/api/src/services/programs.ts
  apps/data-pipeline/degreeworks-scraper/src/components/DegreeworksClient.ts
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
  apps/data-pipeline/degreeworks-scraper/src/index.ts
  packages/db/migrations/0016_college_requirements.sql
  packages/db/migrations/meta/0016_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/package.json
  packages/db/src/schema.ts
  pnpm-lock.yaml
Due: check-biome, check-prettier

store programType for school blocks as type COLLEGE, consistent with degreeworks
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
  packages/db/src/schema.ts
Due: check-biome

remove comments which have been made into their own issues
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

allow spaces around ge commas
  apps/api/src/schema/search.ts
Due: check-biome

by multiple departments
  apps/api/src/schema/search.ts
  apps/api/src/services/search.ts
Due: check-biome

by multiple course levels
  apps/api/src/schema/search.ts
  apps/api/src/services/grades.ts
  apps/api/src/services/search.ts
  apps/api/src/services/util.ts
  apps/api/src/services/websoc.ts
Due: check-biome

comment detail
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
Due: check-biome

Revert "feat(degreeworks-scraper): 2025 updates (#223)"
  apps/api/src/graphql/schema/programs.ts
  apps/api/src/schema/programs.ts
  apps/api/src/services/programs.ts
  apps/data-pipeline/degreeworks-scraper/.gitignore
  apps/data-pipeline/degreeworks-scraper/package.json
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
  apps/data-pipeline/degreeworks-scraper/src/components/DegreeworksClient.ts
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
  apps/data-pipeline/degreeworks-scraper/src/index.ts
  apps/data-pipeline/degreeworks-scraper/src/schema.ts
  apps/data-pipeline/degreeworks-scraper/src/types.ts
  packages/db/migrations/0016_college_requirements.sql
  packages/db/migrations/meta/0016_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/package.json
  packages/db/src/schema.ts
  pnpm-lock.yaml
Due: check-biome, check-prettier
