Repository icssc/anteater-api: changes, and which lefthook commands are due for each by the changed paths.
All: check-biome, check-prettier

check-biome:
  run: pnpm check:biome -- {staged_files}
  stage_fixed: true

check-prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

refactor(websoc-scraper): always scrape by chunks (#320)
  apps/data-pipeline/websoc-scraper/package.json
  apps/data-pipeline/websoc-scraper/src/lib.ts
  apps/data-pipeline/websoc-scraper/tsconfig.json
  packages/db/migrations/0027_websoc_meta_drop_last_dept_scraped.sql
  packages/db/migrations/meta/0027_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
  pnpm-lock.yaml
Due: check-biome, check-prettier

deps: bump everything
  apps/api/package.json
  apps/data-pipeline/calendar-scraper/package.json
  apps/data-pipeline/course-scraper/package.json
  apps/data-pipeline/degreeworks-scraper/package.json
  apps/data-pipeline/dining-scraper/package.json
  apps/data-pipeline/instructor-scraper/package.json
  apps/data-pipeline/larc-scraper/package.json
  apps/data-pipeline/library-traffic-scraper/package.json
  apps/data-pipeline/sample-program-scraper/package.json
  apps/data-pipeline/study-location-scraper/package.json
  apps/data-pipeline/websoc-scraper/package.json
  biome.json
  package.json
  packages/db/package.json
  packages/public/libwebsoc-next/package.json
  pnpm-lock.yaml
Due: check-prettier

deps: upgrade fast-xml-parser
  packages/public/libwebsoc-next/package.json
  pnpm-lock.yaml
Due: check-prettier

bump that too
  apps/key-manager/package.json
  pnpm-lock.yaml
Due: check-prettier

blockExoticSubdeps
  .github/actions/setup-node-and-pnpm/action.yml
  package.json
  pnpm-workspace.yaml
Due: check-prettier

chore: add workflow for npm publish of libwebsoc-next
  .github/actions/setup-node-and-pnpm/action.yml
  .github/workflows/publish.yml
  .nvmrc
  packages/public/libwebsoc-next/package.json
  pnpm-lock.yaml
Due: check-prettier

ci: add workflow for npm publish of libwebsoc-next (#351)
  .github/actions/setup-node-and-pnpm/action.yml
  .github/workflows/publish.yml
  .nvmrc
  packages/public/libwebsoc-next/package.json
  pnpm-lock.yaml
Due: check-prettier

Update project name in README.md
  README.md
Due: check-prettier

come back
  pnpm-workspace.yaml
Due: check-prettier

refactor(search): call toQuery once before branching (icssc#285)
  apps/api/src/services/search.ts
Due: check-biome

updated string separation logic in websoc-scraper lib
  apps/data-pipeline/websoc-scraper/src/lib.ts
Due: check-biome

add new type fields
  apps/data-pipeline/degreeworks-scraper/src/schema.ts
  apps/data-pipeline/degreeworks-scraper/src/types.ts
Due: check-biome

feat: add zod to degreeworks parsing (#333)
  apps/data-pipeline/degreeworks-scraper/src/components/DegreeworksClient.ts
  apps/data-pipeline/degreeworks-scraper/src/schema.ts
  apps/data-pipeline/degreeworks-scraper/src/types.ts
Due: check-biome

deps: bump everything, blockExoticSubdeps (#348)
  .github/actions/setup-node-and-pnpm/action.yml
  apps/api/package.json
  apps/data-pipeline/calendar-scraper/package.json
  apps/data-pipeline/course-scraper/package.json
  apps/data-pipeline/degreeworks-scraper/package.json
  apps/data-pipeline/dining-scraper/package.json
  apps/data-pipeline/instructor-scraper/package.json
  apps/data-pipeline/larc-scraper/package.json
  apps/data-pipeline/library-traffic-scraper/package.json
  apps/data-pipeline/sample-program-scraper/package.json
  apps/data-pipeline/study-location-scraper/package.json
  apps/data-pipeline/websoc-scraper/package.json
  apps/key-manager/package.json
  biome.json
  package.json
  packages/db/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: check-prettier

hi
  tsconfig.json
Due: check-prettier

bye
  tsconfig.json
Due: check-prettier

reset migrations and removed primary key from majorSpecToRequirement
  packages/db/migrations/0027_polymorphic_major_requirements.sql
  packages/db/migrations/meta/0027_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

updated assist -> assists and includes -> include b/c those are apparently the valid keys. something weird must have happend in bump everything pr
  biome.json
Due: check-prettier

sorted imports must be handled in linter
  biome.json
Due: check-prettier

Revert "sorted imports must be handled in linter"
  biome.json
Due: check-prettier

restored keys and changed to match version in package.json
  biome.json
Due: check-prettier

remigrated... fixed target in upserting to majorSpecializationToRequirement to not look for primary key anymore
  apps/data-pipeline/degreeworks-scraper/src/index.ts
  packages/db/migrations/0028_polymorphic_major_requirements.sql
  packages/db/migrations/meta/0028_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

hard errors create strong men
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
  apps/data-pipeline/degreeworks-scraper/src/index.ts
  apps/data-pipeline/websoc-scraper/src/index.example.ts
  apps/key-manager/src/app/globals.css
Due: check-biome

ci: bump actions to not use node 20
  .github/actions/setup-node-and-pnpm/action.yml
Due: check-prettier

"just remember to bump in every action file" brutal 🥀
  .github/workflows/delete_staging.yml
  .github/workflows/deploy_prod.yml
  .github/workflows/deploy_staging.yml
Due: check-prettier

ci: bump actions to not use node 20 (#356)
  .github/actions/setup-node-and-pnpm/action.yml
  .github/workflows/delete_staging.yml
  .github/workflows/deploy_prod.yml
  .github/workflows/deploy_staging.yml
Due: check-prettier

wrap GE requests in try catc
  apps/data-pipeline/websoc-scraper/src/lib.ts
Due: check-biome

record general scrape outcome of each GE
  apps/data-pipeline/websoc-scraper/src/lib.ts
Due: check-biome

refactor(search): call toQuery once before branching (icssc#285) (#353)
  apps/api/src/services/search.ts
Due: check-biome

Dining period times made nullable
  packages/db/migrations/0028_dining_period_times_nullable.sql
  packages/db/migrations/meta/0028_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

Dining scrape adds null periods
  apps/data-pipeline/dining-scraper/src/update-restaurant.ts
Due: check-biome

edit log text and add catch in outer scrapeTerm function
  apps/data-pipeline/websoc-scraper/src/lib.ts
Due: check-biome

feat(degreeworks): serve dwcredit requirements
  apps/api/src/graphql/schema/programs.ts
  apps/api/src/schema/programs.ts
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
  packages/db/src/schema.ts
Due: check-biome

deps: bump drizzle-orm
  apps/key-manager/package.json
  pnpm-lock.yaml
Due: check-prettier

deps: bump drizzle-orm (#358)
  apps/key-manager/package.json
  pnpm-lock.yaml
Due: check-prettier

initial look at exclusive courses
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
  apps/data-pipeline/degreeworks-scraper/src/schema.ts
  apps/data-pipeline/degreeworks-scraper/src/types.ts
  packages/db/src/schema.ts
Due: check-biome

Path conditions:
  check-biome: any of: *.{ts,tsx,cjs}, but not: **/worker-configuration.d.ts, **/.wrangler/**
  check-prettier: any of: *.{json,md,toml,yml,yaml}
