Repository icssc/anteater-api: changes, and which lefthook commands are due for each by the changed paths.
All: check-biome, check-prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check-biome:
      glob: "*.{ts,tsx,cjs}"
      run: pnpm check:biome -- {staged_files}
      stage_fixed: true
      exclude:
        - "**/worker-configuration.d.ts"
        - "**/.wrangler/**"
    check-prettier:
      glob: "*.{json,md,toml,yml,yaml}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

revert(course): reverted #439 (#448)
  apps/data-pipeline/course-scraper/src/index.ts
Due: check-biome

fix: rename sample_program_variation to catalogue_program_variation (#446)
  apps/api/src/services/programs.ts
  apps/api/src/services/search.ts
  apps/data-pipeline/sample-program-scraper/src/index.ts
  packages/db/migrations/0035_rename_sample_program_to_catalog_program.sql
  packages/db/migrations/meta/0035_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

fix: add logging when ' AND ' and 'AND' splits produce different results
  apps/data-pipeline/course-scraper/src/index.ts
Due: check-biome

fix: use word boundary regex for AND splitting in prereq parser
  apps/data-pipeline/course-scraper/src/index.ts
Due: check-biome

Reverted buildPrereqTree's original split regex but modified scrapePrerequisitePage's extraction so tage boundaries always contribute a space.
  apps/data-pipeline/course-scraper/src/index.ts
Due: check-biome

refactor: schema breakup (#445)
  apps/api/public/favicon.svg
  apps/api/src/services/course-materials.ts
  apps/data-pipeline/degreeworks-scraper/src/components/DegreeworksClient.ts
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
  apps/data-pipeline/degreeworks-scraper/src/types.ts
  apps/key-manager/cloudflare-env.d.ts
  biome.json
  packages/db/drizzle.config.ts
  packages/db/package.json
  packages/db/src/schema.ts
  packages/db/src/schema/ap-exams.ts
  packages/db/src/schema/calendar.ts
  packages/db/src/schema/course-materials.ts
  packages/db/src/schema/courses.ts
  packages/db/src/schema/degreeworks.ts
  packages/db/src/schema/dining.ts
  packages/db/src/schema/index.ts
  packages/db/src/schema/instructors.ts
  packages/db/src/schema/larc.ts
  packages/db/src/schema/library-traffic.ts
  packages/db/src/schema/sample-programs.ts
  packages/db/src/schema/study-rooms.ts
  packages/db/src/schema/websoc.ts
  packages/db/src/utils.ts
Due: check-biome, check-prettier

feat: add terms filter to search endpoint (#428)
  apps/api/src/schema/search.ts
  apps/api/src/services/search.ts
Due: check-biome

logging
  apps/key-manager/src/auth.config.ts
  apps/key-manager/src/auth.ts
Due: check-biome

hurrary
  apps/data-pipeline/instructor-scraper/src/index.ts
  packages/db/src/utils.ts
Due: check-biome

mm
  apps/key-manager/cloudflare-env.d.ts
  apps/key-manager/src/auth.ts
Due: check-biome

added client property to auth.config, which will cause next-auth to provide the client_id to the body of the /token request
  apps/key-manager/src/auth.config.ts
Due: check-biome

remove debug stuff
  apps/key-manager/src/auth.config.ts
  apps/key-manager/src/auth.ts
Due: check-biome

reverted cloudflare-env.d.ts
  apps/key-manager/cloudflare-env.d.ts
Due: check-biome

revert space
  apps/key-manager/src/auth.ts
Due: check-biome

revert tab
  apps/key-manager/src/auth.ts
Due: check-biome

made chunkUpsertData consider default and auto generated rows and used it in grade and course-material importer
  apps/data-pipeline/course-materials-importer/src/index.ts
  apps/data-pipeline/grades-importer/src/index.ts
  packages/db/src/utils.ts
Due: check-biome

remove mig
  packages/db/migrations/0035_dw_requirement_headers.sql
  packages/db/migrations/meta/0035_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: check-prettier

remigrated
  packages/db/migrations/0036_dw_requirement_headers.sql
  packages/db/migrations/meta/0036_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: check-prettier

oops bad type import
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
Due: check-biome

fix package.json license
  package.json
Due: check-prettier

set the libwebsoc-next license
  packages/public/libwebsoc-next/package.json
Due: check-prettier

i change my mind
  package.json
  packages/public/libwebsoc-next/package.json
Due: check-prettier

license libwebsoc-next as MIT
  packages/public/libwebsoc-next/package.json
Due: check-prettier

libwebsoc-next v1.1.3
  packages/public/libwebsoc-next/package.json
Due: check-prettier

deps: bump
  apps/key-manager/package.json
  pnpm-lock.yaml
Due: check-prettier

manual prod deploys/publishes
  .github/workflows/deploy_prod.yml
  .github/workflows/publish.yml
Due: check-prettier

Add Public Health tentative course offerings
  apps/data-pipeline/public-health-course-offerings-scraper/package.json
  apps/data-pipeline/public-health-course-offerings-scraper/src/handler.ts
  apps/data-pipeline/public-health-course-offerings-scraper/src/index.ts
  apps/data-pipeline/public-health-course-offerings-scraper/src/lib.test.ts
  apps/data-pipeline/public-health-course-offerings-scraper/src/lib.ts
  apps/data-pipeline/public-health-course-offerings-scraper/test/fixtures/course-offerings.html
  apps/data-pipeline/public-health-course-offerings-scraper/tsconfig.json
  apps/data-pipeline/public-health-course-offerings-scraper/worker-configuration.d.ts
  apps/data-pipeline/public-health-course-offerings-scraper/wrangler.toml
  pnpm-lock.yaml
Due: check-biome, check-prettier

Add Social Ecology tentative course offerings
  apps/data-pipeline/criminology-law-society-course-offerings-scraper/package.json
  apps/data-pipeline/criminology-law-society-course-offerings-scraper/src/handler.ts
  apps/data-pipeline/criminology-law-society-course-offerings-scraper/src/index.ts
  apps/data-pipeline/criminology-law-society-course-offerings-scraper/src/lib.test.ts
  apps/data-pipeline/criminology-law-society-course-offerings-scraper/src/lib.ts
  apps/data-pipeline/criminology-law-society-course-offerings-scraper/test/fixtures/courses.html
  apps/data-pipeline/criminology-law-society-course-offerings-scraper/tsconfig.json
  apps/data-pipeline/criminology-law-society-course-offerings-scraper/worker-configuration.d.ts
  apps/data-pipeline/criminology-law-society-course-offerings-scraper/wrangler.toml
  apps/data-pipeline/psychology-course-offerings-scraper/package.json
  apps/data-pipeline/psychology-course-offerings-scraper/src/handler.ts
  apps/data-pipeline/psychology-course-offerings-scraper/src/index.ts
  apps/data-pipeline/psychology-course-offerings-scraper/src/lib.test.ts
  apps/data-pipeline/psychology-course-offerings-scraper/src/lib.ts
  apps/data-pipeline/psychology-course-offerings-scraper/test/fixtures/courses.html
  apps/data-pipeline/psychology-course-offerings-scraper/tsconfig.json
  apps/data-pipeline/psychology-course-offerings-scraper/worker-configuration.d.ts
  apps/data-pipeline/psychology-course-offerings-scraper/wrangler.toml
  apps/data-pipeline/social-ecology-course-offerings-common/package.json
  apps/data-pipeline/social-ecology-course-offerings-common/src/lib.ts
  apps/data-pipeline/social-ecology-course-offerings-common/tsconfig.json
  apps/data-pipeline/social-ecology-course-offerings-scraper/package.json
  apps/data-pipeline/social-ecology-course-offerings-scraper/src/handler.ts
  apps/data-pipeline/social-ecology-course-offerings-scraper/src/index.ts
  apps/data-pipeline/social-ecology-course-offerings-scraper/src/lib.test.ts
  apps/data-pipeline/social-ecology-course-offerings-scraper/src/lib.ts
  apps/data-pipeline/social-ecology-course-offerings-scraper/test/fixtures/courses.html
  apps/data-pipeline/social-ecology-course-offerings-scraper/tsconfig.json
  apps/data-pipeline/social-ecology-course-offerings-scraper/worker-configuration.d.ts
  apps/data-pipeline/social-ecology-course-offerings-scraper/wrangler.toml
  apps/data-pipeline/urban-planning-public-policy-course-offerings-scraper/package.json
  apps/data-pipeline/urban-planning-public-policy-course-offerings-scraper/src/handler.ts
  apps/data-pipeline/urban-planning-public-policy-course-offerings-scraper/src/index.ts
  apps/data-pipeline/urban-planning-public-policy-course-offerings-scraper/src/lib.test.ts
  apps/data-pipeline/urban-planning-public-policy-course-offerings-scraper/src/lib.ts
  apps/data-pipeline/urban-planning-public-policy-course-offerings-scraper/test/fixtures/courses.html
  apps/data-pipeline/urban-planning-public-policy-course-offerings-scraper/tsconfig.json
  apps/data-pipeline/urban-planning-public-policy-course-offerings-scraper/worker-configuration.d.ts
  apps/data-pipeline/urban-planning-public-policy-course-offerings-scraper/wrangler.toml
  pnpm-lock.yaml
Due: check-biome, check-prettier

Generalize tentative course offerings API
  apps/api/src/graphql/schema/courses.ts
  apps/api/src/schema/courses.ts
  apps/api/src/services/tentative-course-offerings.test.ts
  apps/api/src/services/tentative-course-offerings.ts
  apps/data-pipeline/ics-course-offerings-scraper/src/lib.ts
  packages/db/migrations/0037_generalize_tentative_course_offerings.sql
  packages/db/migrations/meta/0037_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema/tentative-course-offerings.ts
Due: check-biome, check-prettier

Add undergraduate Chemistry tentative course offerings
  apps/data-pipeline/chemistry-undergraduate-course-offerings-scraper/package.json
  apps/data-pipeline/chemistry-undergraduate-course-offerings-scraper/src/handler.ts
  apps/data-pipeline/chemistry-undergraduate-course-offerings-scraper/src/index.ts
  apps/data-pipeline/chemistry-undergraduate-course-offerings-scraper/src/lib.test.ts
  apps/data-pipeline/chemistry-undergraduate-course-offerings-scraper/src/lib.ts
  apps/data-pipeline/chemistry-undergraduate-course-offerings-scraper/test/fixtures/course-offerings.html
  apps/data-pipeline/chemistry-undergraduate-course-offerings-scraper/tsconfig.json
  apps/data-pipeline/chemistry-undergraduate-course-offerings-scraper/worker-configuration.d.ts
  apps/data-pipeline/chemistry-undergraduate-course-offerings-scraper/wrangler.toml
  pnpm-lock.yaml
Due: check-biome, check-prettier

Add Chicano Latino Studies tentative course offerings
  apps/data-pipeline/chicano-latino-studies-course-offerings-scraper/package.json
  apps/data-pipeline/chicano-latino-studies-course-offerings-scraper/src/handler.ts
  apps/data-pipeline/chicano-latino-studies-course-offerings-scraper/src/index.ts
  apps/data-pipeline/chicano-latino-studies-course-offerings-scraper/src/lib.test.ts
  apps/data-pipeline/chicano-latino-studies-course-offerings-scraper/src/lib.ts
  apps/data-pipeline/chicano-latino-studies-course-offerings-scraper/test/fixtures/courses.html
  apps/data-pipeline/chicano-latino-studies-course-offerings-scraper/tsconfig.json
  apps/data-pipeline/chicano-latino-studies-course-offerings-scraper/worker-configuration.d.ts
  apps/data-pipeline/chicano-latino-studies-course-offerings-scraper/wrangler.toml
  pnpm-lock.yaml
Due: check-biome, check-prettier

Add graduate Chemistry tentative course offerings
  apps/data-pipeline/chemistry-graduate-course-offerings-scraper/package.json
  apps/data-pipeline/chemistry-graduate-course-offerings-scraper/src/handler.ts
  apps/data-pipeline/chemistry-graduate-course-offerings-scraper/src/index.ts
  apps/data-pipeline/chemistry-graduate-course-offerings-scraper/src/lib.test.ts
  apps/data-pipeline/chemistry-graduate-course-offerings-scraper/src/lib.ts
  apps/data-pipeline/chemistry-graduate-course-offerings-scraper/test/fixtures/course-offerings.html
  apps/data-pipeline/chemistry-graduate-course-offerings-scraper/tsconfig.json
  apps/data-pipeline/chemistry-graduate-course-offerings-scraper/worker-configuration.d.ts
  apps/data-pipeline/chemistry-graduate-course-offerings-scraper/wrangler.toml
  pnpm-lock.yaml
Due: check-biome, check-prettier

Add Global Studies tentative course offerings
  apps/data-pipeline/global-studies-course-offerings-scraper/package.json
  apps/data-pipeline/global-studies-course-offerings-scraper/src/handler.ts
  apps/data-pipeline/global-studies-course-offerings-scraper/src/index.ts
  apps/data-pipeline/global-studies-course-offerings-scraper/src/lib.test.ts
  apps/data-pipeline/global-studies-course-offerings-scraper/src/lib.ts
  apps/data-pipeline/global-studies-course-offerings-scraper/test/fixtures/courses.html
  apps/data-pipeline/global-studies-course-offerings-scraper/tsconfig.json
  apps/data-pipeline/global-studies-course-offerings-scraper/worker-configuration.d.ts
  apps/data-pipeline/global-studies-course-offerings-scraper/wrangler.toml
  pnpm-lock.yaml
Due: check-biome, check-prettier

Add Earth System Science tentative course offerings
  apps/data-pipeline/earth-system-science-course-offerings-scraper/package.json
  apps/data-pipeline/earth-system-science-course-offerings-scraper/src/handler.ts
  apps/data-pipeline/earth-system-science-course-offerings-scraper/src/index.ts
  apps/data-pipeline/earth-system-science-course-offerings-scraper/src/lib.test.ts
  apps/data-pipeline/earth-system-science-course-offerings-scraper/src/lib.ts
  apps/data-pipeline/earth-system-science-course-offerings-scraper/test/fixtures/course-offerings.html
  apps/data-pipeline/earth-system-science-course-offerings-scraper/tsconfig.json
  apps/data-pipeline/earth-system-science-course-offerings-scraper/worker-configuration.d.ts
  apps/data-pipeline/earth-system-science-course-offerings-scraper/wrangler.toml
  pnpm-lock.yaml
Due: check-biome, check-prettier

Add Cognitive Sciences tentative course offerings
  apps/data-pipeline/cognitive-sciences-course-offerings-scraper/package.json
  apps/data-pipeline/cognitive-sciences-course-offerings-scraper/src/handler.ts
  apps/data-pipeline/cognitive-sciences-course-offerings-scraper/src/index.ts
  apps/data-pipeline/cognitive-sciences-course-offerings-scraper/src/lib.test.ts
  apps/data-pipeline/cognitive-sciences-course-offerings-scraper/src/lib.ts
  apps/data-pipeline/cognitive-sciences-course-offerings-scraper/test/fixtures/undergraduate.html
  apps/data-pipeline/cognitive-sciences-course-offerings-scraper/tsconfig.json
  apps/data-pipeline/cognitive-sciences-course-offerings-scraper/worker-configuration.d.ts
  apps/data-pipeline/cognitive-sciences-course-offerings-scraper/wrangler.toml
  pnpm-lock.yaml
Due: check-biome, check-prettier

Add Biological Sciences tentative course offerings
  apps/data-pipeline/biological-sciences-course-offerings-scraper/package.json
  apps/data-pipeline/biological-sciences-course-offerings-scraper/src/handler.ts
  apps/data-pipeline/biological-sciences-course-offerings-scraper/src/index.ts
  apps/data-pipeline/biological-sciences-course-offerings-scraper/src/lib.test.ts
  apps/data-pipeline/biological-sciences-course-offerings-scraper/src/lib.ts
  apps/data-pipeline/biological-sciences-course-offerings-scraper/test/fixtures/course-offerings.html
  apps/data-pipeline/biological-sciences-course-offerings-scraper/tsconfig.json
  apps/data-pipeline/biological-sciences-course-offerings-scraper/worker-configuration.d.ts
  apps/data-pipeline/biological-sciences-course-offerings-scraper/wrangler.toml
  pnpm-lock.yaml
Due: check-biome, check-prettier

Add Mathematics tentative course offerings
  apps/data-pipeline/mathematics-course-offerings-scraper/package.json
  apps/data-pipeline/mathematics-course-offerings-scraper/src/handler.ts
  apps/data-pipeline/mathematics-course-offerings-scraper/src/index.ts
  apps/data-pipeline/mathematics-course-offerings-scraper/src/lib.test.ts
  apps/data-pipeline/mathematics-course-offerings-scraper/src/lib.ts
  apps/data-pipeline/mathematics-course-offerings-scraper/test/fixtures/course-offerings.html
  apps/data-pipeline/mathematics-course-offerings-scraper/tsconfig.json
  apps/data-pipeline/mathematics-course-offerings-scraper/worker-configuration.d.ts
  apps/data-pipeline/mathematics-course-offerings-scraper/wrangler.toml
  pnpm-lock.yaml
Due: check-biome, check-prettier

Add Economics tentative course offerings
  apps/data-pipeline/economics-course-offerings-scraper/package.json
  apps/data-pipeline/economics-course-offerings-scraper/src/handler.ts
  apps/data-pipeline/economics-course-offerings-scraper/src/index.ts
  apps/data-pipeline/economics-course-offerings-scraper/src/lib.test.ts
  apps/data-pipeline/economics-course-offerings-scraper/src/lib.ts
  apps/data-pipeline/economics-course-offerings-scraper/test/fixtures/list.html
  apps/data-pipeline/economics-course-offerings-scraper/tsconfig.json
  apps/data-pipeline/economics-course-offerings-scraper/worker-configuration.d.ts
  apps/data-pipeline/economics-course-offerings-scraper/wrangler.toml
  pnpm-lock.yaml
Due: check-biome, check-prettier

Add Physics tentative course offerings
  apps/data-pipeline/physics-course-offerings-scraper/package.json
  apps/data-pipeline/physics-course-offerings-scraper/src/handler.ts
  apps/data-pipeline/physics-course-offerings-scraper/src/index.ts
  apps/data-pipeline/physics-course-offerings-scraper/src/lib.test.ts
  apps/data-pipeline/physics-course-offerings-scraper/src/lib.ts
  apps/data-pipeline/physics-course-offerings-scraper/test/fixtures/course-info.html
  apps/data-pipeline/physics-course-offerings-scraper/tsconfig.json
  apps/data-pipeline/physics-course-offerings-scraper/worker-configuration.d.ts
  apps/data-pipeline/physics-course-offerings-scraper/wrangler.toml
  pnpm-lock.yaml
Due: check-biome, check-prettier

Add Political Science tentative course offerings
  apps/data-pipeline/political-science-course-offerings-scraper/package.json
  apps/data-pipeline/political-science-course-offerings-scraper/src/handler.ts
  apps/data-pipeline/political-science-course-offerings-scraper/src/index.ts
  apps/data-pipeline/political-science-course-offerings-scraper/src/lib.test.ts
  apps/data-pipeline/political-science-course-offerings-scraper/src/lib.ts
  apps/data-pipeline/political-science-course-offerings-scraper/test/fixtures/courses.html
  apps/data-pipeline/political-science-course-offerings-scraper/tsconfig.json
  apps/data-pipeline/political-science-course-offerings-scraper/worker-configuration.d.ts
  apps/data-pipeline/political-science-course-offerings-scraper/wrangler.toml
  pnpm-lock.yaml
Due: check-biome, check-prettier
