Repository icssc/anteater-api: changes, and which lefthook commands are due for each by the changed paths.
All: check-biome, check-prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check-biome:
      glob: "*.{ts,tsx,cjs}"
      run: pnpm check:biome -- {staged_files}
      stage_fixed: true
      exclude:
        - "**/worker-configuration.d.ts"
        - "**/.wrangler/**"
    check-prettier:
      glob: "*.{json,md,toml,yml,yaml}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

initial no/low-cost textbook table added
  packages/db/migrations/0029_low_no_cost_textbooks.sql
  packages/db/migrations/meta/0029_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

you can just invent conventions
  apps/data-pipeline/study-location-scraper/src/lib.ts
Due: check-biome

fix: update instructor condition to use direct equality check and optimize query structure
  apps/api/src/services/websoc.ts
Due: check-biome

fix: update instructorNames aggregation to remove null values and change join type
  apps/api/src/services/websoc.ts
Due: check-biome

feat: Add historical syllabi data endpoint to websoc (#366)
  apps/api/src/graphql/resolvers/websoc.ts
  apps/api/src/graphql/schema/websoc.ts
  apps/api/src/rest/routes/websoc.ts
  apps/api/src/schema/websoc.ts
  apps/api/src/services/websoc.ts
Due: check-biome

table edited to reflect course materials
  packages/db/migrations/0029_low_no_cost_textbooks.sql
  packages/db/migrations/meta/0029_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

extra files taken out
  packages/db/migrations/0029_course_materials.sql
  packages/db/migrations/meta/0029_snapshot.json
Due: check-prettier

fixing course materials schema
  packages/db/migrations/0029_course_materials.sql
  packages/db/migrations/meta/0029_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

initial course materials import
  apps/data-pipeline/course-materials-importer/package.json
  apps/data-pipeline/course-materials-importer/src/index.ts
  apps/data-pipeline/course-materials-importer/tsconfig.json
Due: check-biome, check-prettier

migration
  packages/db/migrations/0029_dw_requirement_headers.sql
  packages/db/migrations/meta/0029_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: check-prettier

feat(websoc-scraper): added observability during GE scrape (#371)
  apps/data-pipeline/websoc-scraper/src/lib.ts
Due: check-biome

fix(library-traffic): move deletion of old records to the end of the scrape process
  apps/data-pipeline/library-traffic-scraper/src/lib.ts
Due: check-biome

material terms adjusted in schema
  packages/db/migrations/0029_course_materials.sql
  packages/db/migrations/meta/0029_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

course material index fixing
  apps/data-pipeline/course-materials-importer/src/index.ts
  pnpm-lock.yaml
Due: check-biome, check-prettier

fix: count query causing crash loop (sadge)
  apps/data-pipeline/websoc-scraper/src/lib.ts
Due: check-biome

fix (websoc-scraper): count query causing crash loop (#384)
  apps/data-pipeline/websoc-scraper/src/lib.ts
Due: check-biome

add dining schedules table
  packages/db/src/schema.ts
Due: check-biome

create dining general meal period type catalog table
  packages/db/src/schema.ts
Due: check-biome

add schedules and period catalog junction table
  packages/db/src/schema.ts
Due: check-biome

change fks to cascade on delete
  packages/db/src/schema.ts
Due: check-biome

add fk in dining_period table to dining period type catalog ids
  packages/db/src/schema.ts
Due: check-biome

generate db migration
  packages/db/migrations/0029_dining_schedules.sql
  packages/db/migrations/meta/0029_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: check-prettier

return and add upstreamId to Schedule type
  apps/data-pipeline/dining-scraper/src/fetch-location.ts
  apps/data-pipeline/dining-scraper/src/model.ts
Due: check-biome

use new id column and remove deprecated name column
  apps/data-pipeline/dining-scraper/src/update-restaurant.ts
Due: check-biome

create upsertSchedules function
  apps/data-pipeline/dining-scraper/src/update-restaurant.ts
Due: check-biome

add error check for function
  apps/data-pipeline/dining-scraper/src/update-restaurant.ts
Due: check-biome

upsert schedules to db
  apps/data-pipeline/dining-scraper/src/update-restaurant.ts
Due: check-biome

flatten meal period data and bulk upsert into db
  apps/data-pipeline/dining-scraper/src/update-restaurant.ts
Due: check-biome

no extract
  apps/data-pipeline/degreeworks-scraper/src/components/WithArrayUtils.ts
Due: check-biome

add zod schemas for dining schedules
  apps/api/src/schema/dining.ts
Due: check-biome

added graphql types for repeatability parsing
  apps/api/src/graphql/schema/courses.ts
Due: check-biome

sharpening up code
  apps/data-pipeline/course-materials-importer/src/index.ts
Due: check-biome

type checking in course-materials fixed
  apps/data-pipeline/course-materials-importer/src/index.ts
Due: check-biome

course-materials-importer gitignore added
  apps/data-pipeline/course-materials-importer/.gitignore
Due: none

oops add actual call to upsert schedules function
  apps/data-pipeline/dining-scraper/src/update-restaurant.ts
Due: check-biome

course-materials initial api schema
  apps/api/src/schema/course-materials.ts
  packages/db/src/schema.ts
Due: check-biome

useless template
  apps/data-pipeline/study-location-scraper/src/lib.ts
Due: check-biome

fix: OTHER blocks are combined into Major block if Major points to Other
  apps/data-pipeline/degreeworks-scraper/audit-345.json
  apps/data-pipeline/degreeworks-scraper/audit-429.json
  apps/data-pipeline/degreeworks-scraper/other-blocks.json
  apps/data-pipeline/degreeworks-scraper/philosophy.json
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
  apps/data-pipeline/degreeworks-scraper/src/components/DegreeworksClient.ts
Due: check-biome, check-prettier

feat(study-rooms): alp (#381)
  apps/data-pipeline/study-location-scraper/package.json
  apps/data-pipeline/study-location-scraper/src/handler.ts
  apps/data-pipeline/study-location-scraper/src/index.ts
  apps/data-pipeline/study-location-scraper/src/lib.ts
Due: check-biome, check-prettier

fix(library-traffic): reduce library traffic scrape load (#379)
  apps/data-pipeline/library-traffic-scraper/src/lib.ts
  apps/data-pipeline/library-traffic-scraper/wrangler.toml
Due: check-biome, check-prettier
