Repository icssc/anteater-api: changes, and which lefthook commands are due for each by the changed paths.
All: check-biome, check-prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check-biome:
      glob: "*.{ts,tsx,cjs}"
      run: pnpm check:biome -- {staged_files}
      stage_fixed: true
      exclude:
        - "**/worker-configuration.d.ts"
        - "**/.wrangler/**"
    check-prettier:
      glob: "*.{json,md,toml,yml,yaml}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

chore: add Cloudflare keys
  apps/key-manager/sst.config.ts
Due: check-biome

chore: update tsconfig
  apps/key-manager/tsconfig.json
Due: check-prettier

chore: update sst keys
  apps/key-manager/sst.config.ts
Due: check-biome

chore: explicit auth config
  apps/key-manager/src/auth.config.ts
Due: check-biome

chore: add oauth keys to runner
  .github/workflows/deploy_staging.yml
Due: check-prettier

feat: added restaurants and period tables and upsert functionality, and also revised stations
  apps/data-pipeline/peterplate-scraper/src/helpers/periods.ts
  apps/data-pipeline/peterplate-scraper/src/helpers/restaurants.ts
  apps/data-pipeline/peterplate-scraper/src/helpers/stations.ts
  apps/data-pipeline/peterplate-scraper/src/helpers/utils.ts
  apps/data-pipeline/peterplate-scraper/src/index.ts
  apps/data-pipeline/peterplate-scraper/src/lib.ts
  packages/db/migrations/0026_peterplate_stations_revision.sql
  packages/db/migrations/0027_peterplate_periods.sql
  packages/db/migrations/meta/0026_snapshot.json
  packages/db/migrations/meta/0027_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

Search times fixed
  apps/data-pipeline/study-location-scraper/src/pv.ts
Due: check-biome

chore: test concurrency false
  .github/workflows/deploy_staging.yml
Due: check-prettier

chore: remove terminal bound sst
  .github/workflows/deploy_staging.yml
Due: check-prettier

add back env vars
  .github/workflows/deploy_staging.yml
Due: check-prettier

add back pinned sst version
  .github/workflows/deploy_staging.yml
Due: check-prettier

use pst
  apps/data-pipeline/study-location-scraper/src/pv.ts
Due: check-biome

more timezone stuff, + comments
  apps/data-pipeline/study-location-scraper/src/pv.ts
Due: check-biome

zod
  apps/data-pipeline/study-location-scraper/package.json
  apps/data-pipeline/study-location-scraper/src/pv.ts
  pnpm-lock.yaml
Due: check-biome, check-prettier

chore: refactor staging and prod deploy scripts
  .github/workflows/deploy_prod.yml
  .github/workflows/deploy_staging.yml
Due: check-prettier

chore: added back repository write perm
  .github/workflows/deploy_staging.yml
Due: check-prettier

chore: make prod and staging env consistent
  .github/workflows/deploy_staging.yml
Due: check-prettier

fix: menu upsert and incomplete parsing
  apps/data-pipeline/peterplate-scraper/logs/1769059735716.log
  apps/data-pipeline/peterplate-scraper/logs/1769119025648.log
  apps/data-pipeline/peterplate-scraper/logs/1769121759552.log
  apps/data-pipeline/peterplate-scraper/logs/1769124312730.log
  apps/data-pipeline/peterplate-scraper/package.json
  apps/data-pipeline/peterplate-scraper/src/handler.ts
  apps/data-pipeline/peterplate-scraper/src/helpers/menus.ts
  apps/data-pipeline/peterplate-scraper/src/index.ts
  apps/data-pipeline/peterplate-scraper/src/lib.ts
  apps/data-pipeline/peterplate-scraper/src/models.ts
  apps/data-pipeline/peterplate-scraper/src/parse.ts
Due: check-biome, check-prettier

fix: schema and migration for menu
  packages/db/migrations/0028_peterplate_menus.sql
  packages/db/migrations/meta/0028_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
  pnpm-lock.yaml
Due: check-biome, check-prettier

optional gone
  apps/data-pipeline/study-location-scraper/src/pv.ts
Due: check-biome

fix was not failing hard cuz of allsettled
  apps/data-pipeline/study-location-scraper/src/handler.ts
  apps/data-pipeline/study-location-scraper/src/index.ts
Due: check-biome

fix fail hard
  apps/data-pipeline/study-location-scraper/src/handler.ts
  apps/data-pipeline/study-location-scraper/src/index.ts
Due: check-biome

chore: update env and secrets for all workflows
  .github/workflows/delete_staging.yml
  .github/workflows/deploy_prod.yml
  .github/workflows/deploy_staging.yml
Due: check-prettier

apply suggestion to calc startDate
  apps/data-pipeline/study-location-scraper/src/pv.ts
Due: check-biome

address comments
  apps/data-pipeline/study-location-scraper/src/handler.ts
  apps/data-pipeline/study-location-scraper/src/index.ts
  apps/data-pipeline/study-location-scraper/src/lib.ts
  apps/data-pipeline/study-location-scraper/src/pv.ts
Due: check-biome

looking at timezone
  apps/data-pipeline/study-location-scraper/src/pv.ts
Due: check-biome

delete old data, fix start time
  apps/data-pipeline/study-location-scraper/src/pv.ts
Due: check-biome

cure migration
  packages/db/migrations/0023_pv_nullable_capacity_tech_enhanced.sql
  packages/db/migrations/meta/0023_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: check-prettier

deps(key-manager): fix peer constraints
  apps/key-manager/package.json
  pnpm-lock.yaml
Due: check-prettier

deps: bump more
  apps/key-manager/package.json
  pnpm-lock.yaml
Due: check-prettier

Update apps/data-pipeline/study-location-scraper/src/pv.ts
  apps/data-pipeline/study-location-scraper/src/pv.ts
Due: check-biome

remove logs
  apps/data-pipeline/study-location-scraper/src/pv.ts
Due: check-biome

base
  apps/api/worker-configuration.d.ts
  apps/api/wrangler.toml
  apps/data-pipeline/dining-scraper/handler.ts
  apps/data-pipeline/dining-scraper/package.json
  apps/data-pipeline/dining-scraper/src/common.ts
  apps/data-pipeline/dining-scraper/src/index.ts
  apps/data-pipeline/dining-scraper/src/lib.ts
  apps/data-pipeline/dining-scraper/tsconfig.json
  apps/data-pipeline/dining-scraper/worker-configuration.d.ts
  apps/data-pipeline/dining-scraper/wrangler.toml
  pnpm-lock.yaml
Due: check-biome, check-prettier

checkpoint up the hill
  apps/data-pipeline/dining-scraper/package.json
  apps/data-pipeline/dining-scraper/src/index.ts
  apps/data-pipeline/dining-scraper/src/lib.ts
  apps/data-pipeline/dining-scraper/src/restaurant/index.ts
  apps/data-pipeline/dining-scraper/src/restaurant/model.ts
  apps/data-pipeline/dining-scraper/src/restaurant/util.ts
  packages/db/src/schema.ts
  pnpm-lock.yaml
Due: check-biome, check-prettier

bugfix
  apps/data-pipeline/dining-scraper/src/common.ts
Due: check-biome

targeted wrong dates here
  apps/data-pipeline/dining-scraper/src/restaurant/index.ts
Due: check-biome

wip: migration
  packages/db/migrations/0023_dining.sql
  packages/db/migrations/meta/0023_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: check-prettier

rename this
  apps/data-pipeline/dining-scraper/src/lib.ts
  apps/data-pipeline/dining-scraper/src/restaurant/index.ts
Due: check-biome

refactor for cleanliness
  apps/data-pipeline/dining-scraper/src/restaurant/index.ts
Due: check-biome
