Repository icssc/anteater-api: changes, and which lefthook commands are due for each by the changed paths.
All: check-biome, check-prettier

check-biome:
  run: pnpm check:biome -- {staged_files}
  stage_fixed: true

check-prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

it would be so cool
  .github/workflows/deploy_staging.yml
  apps/key-manager/cloudflare-env.d.ts
  apps/key-manager/package.json
  apps/key-manager/wrangler.toml
  pnpm-lock.yaml
Due: check-biome, check-prettier

i promise it works
  .github/workflows/deploy_prod.yml
  .github/workflows/deploy_staging.yml
  apps/key-manager/wrangler.toml
Due: check-prettier

ci: key manager to cloudflare instead (#328)
  .github/workflows/deploy_prod.yml
  apps/key-manager/.env.example
  apps/key-manager/README.md
  apps/key-manager/cloudflare-env.d.ts
  apps/key-manager/next.config.ts
  apps/key-manager/open-next.config.ts
  apps/key-manager/package.json
  apps/key-manager/src/app/actions/keys.ts
  apps/key-manager/src/app/create/page.tsx
  apps/key-manager/src/auth.config.ts
  apps/key-manager/src/auth.ts
  apps/key-manager/sst.config.ts
  apps/key-manager/tsconfig.json
  apps/key-manager/wrangler.toml
  biome.json
  pnpm-lock.yaml
Due: check-biome, check-prettier

ci: ci
  .github/workflows/deploy_prod.yml
  .github/workflows/deploy_staging.yml
Due: check-prettier

forgort secret
  .github/workflows/deploy_staging.yml
Due: check-prettier

restore
  .github/workflows/deploy_prod.yml
  .github/workflows/deploy_staging.yml
Due: check-prettier

ci: key manager (#340)
  .github/workflows/deploy_prod.yml
Due: check-prettier

opennext cloudflare preview on the nextjs port
  apps/key-manager/package.json
Due: check-prettier

?
  apps/key-manager/cloudflare-env.d.ts
Due: check-biome

feat: migrate
  apps/key-manager/.dev.vars
  apps/key-manager/cloudflare-env.d.ts
  apps/key-manager/src/app/login/page.tsx
  apps/key-manager/src/auth.config.ts
  apps/key-manager/wrangler.toml
Due: check-biome, check-prettier

deps: bump
  apps/key-manager/package.json
  pnpm-lock.yaml
Due: check-prettier

deps: small constraints
  apps/key-manager/package.json
  pnpm-lock.yaml
Due: check-prettier

deprecated
  apps/key-manager/src/components/ui/avatar.tsx
Due: check-biome

reorder
  apps/key-manager/next.config.ts
Due: check-biome

slime the secrets
  .github/workflows/deploy_prod.yml
  apps/key-manager/.env.example
Due: check-prettier

feat: key manager to ICSSC OIDC (#341)
  .github/workflows/deploy_prod.yml
  apps/key-manager/.dev.vars
  apps/key-manager/.env.example
  apps/key-manager/cloudflare-env.d.ts
  apps/key-manager/next.config.ts
  apps/key-manager/package.json
  apps/key-manager/src/app/login/page.tsx
  apps/key-manager/src/auth.config.ts
  apps/key-manager/src/components/ui/avatar.tsx
  apps/key-manager/wrangler.toml
  pnpm-lock.yaml
Due: check-biome, check-prettier

chore: revise redundant types
  apps/data-pipeline/degreeworks-scraper/src/schema.ts
  apps/data-pipeline/degreeworks-scraper/src/types.ts
Due: check-biome

hotfix: build in prefetch json
  apps/key-manager/package.json
  pnpm-lock.yaml
Due: check-prettier

hotfix: build in prefetch json (#342)
  apps/key-manager/package.json
  pnpm-lock.yaml
Due: check-prettier

cleared confusion with 'college' vs. 'school' mismatch, made asMajorSpecId us nullable specId instead of optional, changed table column to specializationId from specId
  apps/api/src/services/programs.ts
  apps/data-pipeline/degreeworks-scraper/src/components/DegreeworksClient.ts
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
  apps/data-pipeline/degreeworks-scraper/src/index.ts
  packages/db/migrations/0027_polymorphic_major_requirements.sql
  packages/db/migrations/meta/0027_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

added requested fixes from review
  apps/data-pipeline/instructor-scraper/src/index.ts
Due: check-biome

pm end time comment modified
  packages/stdlib/src/time-utils.ts
Due: check-biome

1
  apps/api/src/schema/programs.ts
  apps/api/src/services/programs.ts
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
  apps/data-pipeline/degreeworks-scraper/src/index.ts
  packages/db/migrations/0027_degreeworks_catalog_years.sql
  packages/db/migrations/meta/0027_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

forgot for ugrad
  apps/api/src/services/programs.ts
Due: check-biome

404 messages
  apps/api/src/rest/routes/programs.ts
Due: check-biome

unique here
  packages/db/migrations/0027_degreeworks_catalog_years.sql
  packages/db/migrations/meta/0027_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

i love writing migration
  packages/db/migrations/0027_degreeworks_catalog_years.sql
Due: none

on conflict
  apps/data-pipeline/degreeworks-scraper/src/index.ts
Due: check-biome

don't be wrong
  packages/db/migrations/0027_degreeworks_catalog_years.sql
  packages/db/migrations/meta/0027_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

sigh
  packages/db/migrations/0027_degreeworks_catalog_years.sql
Due: none

graphql side
  apps/api/src/graphql/resolvers/programs.ts
  apps/api/src/graphql/schema/programs.ts
Due: check-biome

add this index
  packages/db/migrations/0027_degreeworks_catalog_years.sql
  packages/db/migrations/meta/0027_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

removed instructor association resolver
  apps/data-pipeline/instructor-association-resolver/.gitignore
  apps/data-pipeline/instructor-association-resolver/package.json
  apps/data-pipeline/instructor-association-resolver/src/index.ts
  apps/data-pipeline/instructor-association-resolver/tsconfig.json
Due: check-biome, check-prettier

fix: type checking and type exports
  apps/data-pipeline/degreeworks-scraper/src/schema.ts
  apps/data-pipeline/degreeworks-scraper/src/types.ts
Due: check-biome

added instructor migrations
  packages/db/migrations/0027_fix_missing_instructor_data.sql
  packages/db/migrations/meta/0027_snapshot.json
  packages/db/src/0027_fix_missing_instructor_data.sql
Due: check-prettier

fix: make labelTag field of ruleBaseSchema optional (sadge)
  apps/data-pipeline/degreeworks-scraper/src/schema.ts
Due: check-biome

restored pnpm-lock file, refactored uciNetList in instructor-scraper to reduce complexity
  apps/data-pipeline/instructor-scraper/src/index.ts
  pnpm-lock.yaml
Due: check-biome, check-prettier

booleans
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
  apps/data-pipeline/degreeworks-scraper/src/types.ts
Due: check-biome

fix(degreeworks): filter time bound requirements out (#322)
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
  apps/data-pipeline/degreeworks-scraper/src/types.ts
Due: check-biome

fix: parseStartAndEndTimes with times going over 12:00 (#330)
  packages/stdlib/src/time-utils.ts
Due: check-biome

Path conditions:
  check-biome: any of: *.{ts,tsx,cjs}, but not: **/worker-configuration.d.ts, **/.wrangler/**
  check-prettier: any of: *.{json,md,toml,yml,yaml}
