Repository icssc/anteater-api: changes, and which lefthook commands are due for each by the changed paths.
All: check-biome, check-prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check-biome:
      glob: "*.{ts,tsx,cjs}"
      run: pnpm check:biome -- {staged_files}
      stage_fixed: true
      exclude:
        - "**/worker-configuration.d.ts"
        - "**/.wrangler/**"
    check-prettier:
      glob: "*.{json,md,toml,yml,yaml}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

removed missed runtime references
  apps/api/tsconfig.json
  apps/data-pipeline/larc-scraper/tsconfig.json
  apps/data-pipeline/mview-refresher/tsconfig.json
  apps/data-pipeline/websoc-scraper/tsconfig.json
  pnpm-lock.yaml
Due: check-prettier

removed it now i think?
  apps/api/tsconfig.json
  apps/api/worker-configuration.d.ts
  apps/data-pipeline/larc-scraper/worker-configuration.d.ts
  apps/data-pipeline/mview-refresher/worker-configuration.d.ts
  apps/data-pipeline/study-location-scraper/worker-configuration.d.ts
  apps/data-pipeline/websoc-scraper/tsconfig.json
  apps/data-pipeline/websoc-scraper/worker-configuration.d.ts
Due: check-prettier

updated map service to avoid unnecessary mapping
  apps/api/src/services/map.ts
Due: check-biome

feat!(ap-exams): fine-grained direct GE rewards
  apps/api/src/graphql/schema/ap-exams.ts
  apps/api/src/schema/ap-exams.ts
  apps/api/src/services/ap-exams.ts
  apps/data-pipeline/ap-exams-importer/src/data.ts
  apps/data-pipeline/ap-exams-importer/src/index.ts
  packages/db/migrations/0016_ap_exam_ge_course_count.sql
  packages/db/migrations/meta/0016_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

fix(ap-exams): AP spanish lit is now named in the catalogue
  apps/data-pipeline/ap-exams-importer/src/data.ts
Due: check-biome

exclude worker-configuration.d.ts from manual biome checks
  apps/api/worker-configuration.d.ts
  apps/data-pipeline/larc-scraper/worker-configuration.d.ts
  apps/data-pipeline/mview-refresher/worker-configuration.d.ts
  apps/data-pipeline/study-location-scraper/worker-configuration.d.ts
  apps/data-pipeline/websoc-scraper/worker-configuration.d.ts
  biome.json
Due: check-prettier

revert worker-configuration.d.ts to generated state
  apps/api/worker-configuration.d.ts
  apps/data-pipeline/larc-scraper/worker-configuration.d.ts
  apps/data-pipeline/mview-refresher/worker-configuration.d.ts
  apps/data-pipeline/study-location-scraper/worker-configuration.d.ts
  apps/data-pipeline/websoc-scraper/worker-configuration.d.ts
Due: none

feat(programs): CHC4 is an allowed ugrad requirement block to query
  apps/api/src/schema/programs.ts
Due: check-biome

feat(degreeworks-scraper): enumerate valid major triples and learn to fetch school requirements
  apps/data-pipeline/degreeworks-scraper/package.json
  apps/data-pipeline/degreeworks-scraper/src/components/DegreeworksClient.ts
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
  apps/data-pipeline/degreeworks-scraper/src/components/schema.ts
  apps/data-pipeline/degreeworks-scraper/src/index.ts
  apps/data-pipeline/degreeworks-scraper/src/types.ts
  pnpm-lock.yaml
Due: check-biome, check-prettier

fix(degreeworks-scraper): correctly determine catalog year
  apps/data-pipeline/degreeworks-scraper/src/components/DegreeworksClient.ts
Due: check-biome

add todo
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

added back imageURLs to db and endpoint
  apps/api/src/schema/map.ts
  apps/api/src/services/map.ts
  apps/data-pipeline/map-scraper/src/index.ts
  packages/db/migrations/0016_map_locations.sql
  packages/db/migrations/meta/0016_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

fixed graphql
  apps/api/src/graphql/resolvers/map.ts
  apps/api/src/graphql/schema/map.ts
Due: check-biome

woops wrangler remnants cleanup
  apps/api/tsconfig.json
  apps/data-pipeline/larc-scraper/tsconfig.json
  apps/data-pipeline/mview-refresher/tsconfig.json
  apps/data-pipeline/websoc-scraper/tsconfig.json
  docker-compose.yml
Due: check-prettier

fix(degreeworks-scraper): more correct degree type matching
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
  apps/data-pipeline/degreeworks-scraper/src/components/schema.ts
Due: check-biome

don't collect this into an array
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

need to realize this to conform to type
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

fetch school requirements block
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

retcon unrelated changes
  apps/data-pipeline/degreeworks-scraper/src/components/DegreeworksClient.ts
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

correct type cast when generating program triplets
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

add comment about why we don't need department
  apps/data-pipeline/degreeworks-scraper/src/components/schema.ts
Due: check-biome

unused var
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

document discoverValidDegrees
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

warn if no degree codes matched
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

expand on comment
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

that was not supposed to be here either
  apps/data-pipeline/degreeworks-scraper/src/components/DegreeworksClient.ts
Due: check-biome

fix(degreeworks-scraper): correct catalogue year inference
  apps/data-pipeline/degreeworks-scraper/src/components/DegreeworksClient.ts
Due: check-biome

feat(degreeworks-scraper): discover and scrape only majors that exist (#213)
  apps/data-pipeline/degreeworks-scraper/package.json
  apps/data-pipeline/degreeworks-scraper/src/components/DegreeworksClient.ts
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
  apps/data-pipeline/degreeworks-scraper/src/components/schema.ts
  apps/data-pipeline/degreeworks-scraper/src/index.ts
  apps/data-pipeline/degreeworks-scraper/src/types.ts
  pnpm-lock.yaml
Due: check-biome, check-prettier

fix(degreeworks-scraper): correct catalogue year inference (#214)
  apps/data-pipeline/degreeworks-scraper/src/components/DegreeworksClient.ts
Due: check-biome

key of parsedPrograms is major code
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

WIP on new spec code
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

whitespace for comfort
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

use regex capture groups here
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

Revert "key of parsedPrograms is major code"
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

correct spec association discovery without code as key
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

consider grad programs as spec parent candidates
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

fix school specified for spec audit fetching
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

always print result of spec parent resolution
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

slightly better log message
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

print spec name when no major found
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome
