Repository icssc/anteater-api: changes, and which lefthook commands are due for each by the changed paths.
All: check-biome, check-prettier

check-biome:
  run: pnpm check:biome -- {staged_files}
  stage_fixed: true

check-prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

fix(library-traffic): moved codeToLibrary function, revised library hours, and added comments for clarity
  apps/data-pipeline/library-traffic-scraper/src/lib.ts
Due: check-biome

adjusted sst config to allow for deploy
  apps/key-manager/sst.config.ts
Due: check-biome

testing key manager deployment in staging
  .github/workflows/deploy_staging.yml
Due: check-prettier

fix(library-traffic): streamline response parsing in fetchLocation function
  apps/data-pipeline/library-traffic-scraper/src/lib.ts
Due: check-biome

fix(library-traffic): clarify description for trafficPercentage in libraryTrafficEntrySchema
  apps/api/src/schema/library-traffic.ts
Due: check-biome

fix(library-traffic): simplify response parsing in fetchLocation function
  apps/data-pipeline/library-traffic-scraper/src/lib.ts
Due: check-biome

docs: revised "Programs" and "Study Room" tag descriptions for conciseness
  apps/api/src/middleware/openapi-meta.ts
Due: check-biome

docs: generalized "Study Rooms" tag description
  apps/api/src/middleware/openapi-meta.ts
Due: check-biome

docs: rephrased "Study Rooms" tag description to avoid ambiguity when forming possessive nouns
  apps/api/src/middleware/openapi-meta.ts
Due: check-biome

fix(library-traffic): update query conditions and remove unused SQL migration file
  apps/api/src/services/library-traffic.ts
  packages/db/migrations/0019_library_traffic.sql
  packages/db/src/schema.ts
Due: check-biome

renamed section_id to meeting_id and migrated
  packages/db/migrations/0019_salty_kat_farrell.sql
  packages/db/migrations/meta/0019_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/migrate.ts
Due: check-biome, check-prettier

fix(library-traffic): update index creation for libraryTraffic and libraryTrafficHistory tables
  packages/db/migrations/0020_library_traffic.sql
  packages/db/migrations/meta/0020_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

fix: use word boundaries in GE category regex patterns to correct GE category extraction (#264)
  apps/data-pipeline/course-scraper/src/index.ts
Due: check-biome

feat: Add websoc departments until (#261)
  apps/api/src/graphql/schema/websoc.ts
  apps/api/src/schema/websoc.ts
  apps/api/src/services/websoc.ts
Due: check-biome

fix: add missing tags for Programs and Study Rooms to OpenAPI metadata (#259)
  apps/api/src/middleware/openapi-meta.ts
Due: check-biome

allow empty graphql query to return all
  apps/api/src/graphql/resolvers/library-traffic.ts
Due: check-biome

feat: library traffic (#204)
  apps/api/src/graphql/resolvers/index.ts
  apps/api/src/graphql/resolvers/library-traffic.ts
  apps/api/src/graphql/schema/index.ts
  apps/api/src/graphql/schema/library-traffic.ts
  apps/api/src/middleware/openapi-meta.ts
  apps/api/src/rest/index.ts
  apps/api/src/rest/routes/library-traffic.ts
  apps/api/src/schema/index.ts
  apps/api/src/schema/library-traffic.ts
  apps/api/src/services/index.ts
  apps/api/src/services/library-traffic.ts
  apps/data-pipeline/library-traffic-scraper/package.json
  apps/data-pipeline/library-traffic-scraper/src/handler.ts
  apps/data-pipeline/library-traffic-scraper/src/index.ts
  apps/data-pipeline/library-traffic-scraper/src/lib.ts
  apps/data-pipeline/library-traffic-scraper/tsconfig.json
  apps/data-pipeline/library-traffic-scraper/worker-configuration.d.ts
  apps/data-pipeline/library-traffic-scraper/wrangler.toml
  packages/db/migrations/0020_library_traffic.sql
  packages/db/migrations/meta/0020_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
  pnpm-lock.yaml
Due: check-biome, check-prettier

rename library traffic scraper by convention
  apps/data-pipeline/library-traffic-scraper/wrangler.toml
Due: check-prettier

rename library traffic scraper by convention (#267)
  apps/data-pipeline/library-traffic-scraper/wrangler.toml
Due: check-prettier

Added aliases to course view schema and service
  .gitignore
  apps/api/src/schema/courses.ts
  apps/api/src/services/courses.ts
  packages/db/src/schema.ts
Due: check-biome

migrated changes after merge
  packages/db/migrations/0021_course_aliases.sql
  packages/db/migrations/meta/0021_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: check-prettier

feat: add aliases field to Course type in GraphQL schema
  apps/api/src/graphql/schema/courses.ts
Due: check-biome

key manager to zod v4
  apps/key-manager/package.json
  apps/key-manager/src/app/actions/types.ts
  pnpm-lock.yaml
Due: check-biome, check-prettier

api to zod v4
  apps/api/package.json
  apps/api/src/schema/enrollment-history.ts
  apps/api/src/schema/grades.ts
  apps/api/src/schema/programs.ts
  apps/api/src/schema/study-rooms.ts
  apps/api/src/schema/websoc.ts
  apps/api/src/services/ap-exams.ts
  pnpm-lock.yaml
Due: check-biome, check-prettier

fix peer deps
  apps/api/package.json
  apps/data-pipeline/degreeworks-scraper/package.json
  apps/data-pipeline/library-traffic-scraper/package.json
  apps/key-manager/package.json
  pnpm-lock.yaml
Due: check-prettier

fix: update websoc is_cancelled column to handle websoc data formatting
  packages/db/migrations/0021_fix_websoc_is_cancelled_logic.sql
  packages/db/migrations/meta/0021_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

fix: expose isCancelled field in API responses
  apps/api/src/graphql/schema/websoc.ts
  apps/api/src/schema/websoc.ts
Due: check-biome

Save current changes before syncing with main
  package-lock.json
  package.json
  packages/db/drizzle.config.ts
  packages/db/migrations/0019_salty_kat_farrell.sql
  pnpm-lock.yaml
Due: check-biome, check-prettier

docs: removed GraphQL docs and reworded websocSectionSchema OpenAPI docs
  apps/api/src/graphql/schema/websoc.ts
  apps/api/src/schema/websoc.ts
Due: check-biome

refactor: rename 0021_fix_websoc_is_cancelled_logic.sql to 0021_fix_websoc_is_cancelled.sql
  packages/db/migrations/0021_fix_websoc_is_cancelled.sql
  packages/db/migrations/meta/_journal.json
Due: check-prettier

docs: revised websocSectionSchema OpenAPI docs wording
  apps/api/src/schema/websoc.ts
Due: check-biome

Add hashed id for individual requirements
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
  apps/data-pipeline/degreeworks-scraper/src/types.ts
  packages/db/src/schema.ts
Due: check-biome

created new migrate to avoid ID overlaps
  packages/db/migrations/0021_rename-section-id-to-meeting-id.sql
  packages/db/migrations/meta/0021_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/migrate.ts
Due: check-biome, check-prettier

Reverted accidental changes to other files
  package-lock.json
  packages/db/drizzle.config.ts
  pnpm-lock.yaml
Due: check-biome, check-prettier

adjusted staging for testing
  .github/workflows/deploy_staging.yml
Due: check-prettier

change version of node to check source of error
  .github/actions/setup-node-and-pnpm/action.yml
Due: check-prettier

debugging tools
  .github/workflows/deploy_staging.yml
Due: check-prettier

more testing
  .github/workflows/deploy_staging.yml
Due: check-prettier

moooore testing
  .github/workflows/deploy_staging.yml
Due: check-prettier

debug
  .github/actions/setup-node-and-pnpm/action.yml
  .github/workflows/deploy_staging.yml
Due: check-prettier

Path conditions:
  check-biome: any of: *.{ts,tsx,cjs}, but not: **/worker-configuration.d.ts, **/.wrangler/**
  check-prettier: any of: *.{json,md,toml,yml,yaml}
