Repository icssc/anteater-api: changes, and which lefthook commands are due for each by the changed paths.
All: check-biome, check-prettier

check-biome:
  run: pnpm check:biome -- {staged_files}
  stage_fixed: true

check-prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

minor touch-ups
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

delete migration files
  packages/db/migrations/0028_polymorphic_major_requirements.sql
  packages/db/migrations/meta/0028_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: check-prettier

remigrated
  packages/db/migrations/meta/_journal.json
Due: check-prettier

woops
  apps/api/src/schema/programs.ts
Due: check-biome

actually remigrated
  packages/db/migrations/0029_polymorhpic_major_requirements.sql
  packages/db/migrations/meta/0029_snapshot.json
Due: check-prettier

added repeatability value and type columns and parsing in course scraper
  apps/data-pipeline/course-scraper/src/index.ts
  apps/key-manager/cloudflare-env.d.ts
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

added migration
  packages/db/migrations/0029_course_repeatability_data_parsing.sql
  packages/db/migrations/meta/0029_snapshot.json
Due: check-prettier

updated openapi docs
  apps/api/src/schema/courses.ts
Due: check-biome

ge and uc requirements json
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

minors differences json fixes
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

majors differences json (not perfect)
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

specializations differences json
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

all jsons except honors
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

removed commented out code
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

honors check added
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

dependencies added for degreeworks json
  apps/data-pipeline/degreeworks-scraper/package.json
Due: check-prettier

feat: Add Syllabi data service and GraphQL support for retrieving historical syllabi under websoc
  apps/api/src/graphql/resolvers/websoc.ts
  apps/api/src/graphql/schema/websoc.ts
  apps/api/src/rest/routes/websoc.ts
  apps/api/src/schema/index.ts
  apps/api/src/schema/websoc-syllabi.ts
  apps/api/src/services/index.ts
  apps/api/src/services/websoc-syllabi.ts
Due: check-biome

pnpm-lock.yaml updates added
  pnpm-lock.yaml
Due: check-prettier

json-diff dependency added
  apps/data-pipeline/degreeworks-scraper/package.json
  pnpm-lock.yaml
Due: check-prettier

database url error checking
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

extra todo removed
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

HOLYSHIT IT WORKS THIS WAS MY SUNDAY PLEASE DONT BREAK OMGMOGMOGMOMGOMGgit statusgit statusgit status kill me
  apps/data-pipeline/degreeworks-scraper/package.json
  apps/data-pipeline/degreeworks-scraper/src/index.ts
  packages/db/migrations/0029_polymorhpic_major_requirements.sql
  packages/db/migrations/0029_polymorphic_major_requirements.sql
  packages/db/migrations/meta/0029_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
  pnpm-lock.yaml
Due: check-biome, check-prettier

feat: print number of GEs returned and number of rows inserted
  apps/data-pipeline/websoc-scraper/src/lib.ts
Due: check-biome

bug fixes and cleaning
  apps/data-pipeline/degreeworks-scraper/src/index.ts
Due: check-biome

more minor changes
  apps/api/src/rest/routes/programs.ts
  packages/db/migrations/0029_polymorphic_major_requirements.sql
  packages/db/src/schema.ts
Due: check-biome

typo in service
  apps/api/src/services/programs.ts
Due: check-biome

mm
  apps/data-pipeline/degreeworks-scraper/src/index.ts
  packages/db/migrations/meta/0029_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: check-biome, check-prettier

chore: remove duplicate dining service export
  apps/api/src/services/dining.ts
  apps/api/src/services/index.ts
Due: check-biome

extra drizzle dependency removed
  apps/data-pipeline/degreeworks-scraper/package.json
Due: check-prettier

fix (study room): fix pruning old time slots
  apps/data-pipeline/study-location-scraper/src/lib.ts
  apps/data-pipeline/study-location-scraper/src/pv.ts
  apps/data-pipeline/study-location-scraper/src/time.ts
Due: check-biome

implementing order by
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

honors kind updated
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

lockfile reverted
  pnpm-lock.yaml
Due: check-prettier

idk (study room): increase library scrape fetch ahead
  apps/data-pipeline/study-location-scraper/src/lib.ts
  apps/data-pipeline/study-location-scraper/src/pv.ts
Due: check-biome

fix (library-traffic): reduce library traffic scrape frequency by deleting old records
  apps/data-pipeline/library-traffic-scraper/src/lib.ts
Due: check-biome

fix(library-traffic): increase scrape frequency to every 30 minutes
  apps/data-pipeline/library-traffic-scraper/wrangler.toml
Due: check-prettier

feat: Refactor syllabi handling by consolidating SyllabiService into WebsocService and updating related schemas
  apps/api/src/graphql/resolvers/websoc.ts
  apps/api/src/rest/routes/websoc.ts
  apps/api/src/schema/index.ts
  apps/api/src/schema/websoc-syllabi.ts
  apps/api/src/schema/websoc.ts
  apps/api/src/services/index.ts
  apps/api/src/services/websoc-syllabi.ts
  apps/api/src/services/websoc.ts
Due: check-biome

added comments and pulled out requirements upserting into a helper
  apps/data-pipeline/degreeworks-scraper/src/index.ts
Due: check-biome

getfrommaporthrow
  apps/data-pipeline/degreeworks-scraper/src/index.ts
Due: check-biome

Path conditions:
  check-biome: any of: *.{ts,tsx,cjs}, but not: **/worker-configuration.d.ts, **/.wrangler/**
  check-prettier: any of: *.{json,md,toml,yml,yaml}
