Repository icssc/anteater-api: changes, and which lefthook commands are due for each by the changed paths.
All: check-biome, check-prettier

check-biome:
  run: pnpm check:biome -- {staged_files}
  stage_fixed: true

check-prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

feat(websoc): support courseId query param (#419)
  apps/api/src/graphql/schema/websoc.ts
  apps/api/src/schema/websoc.ts
  apps/api/src/services/websoc.ts
Due: check-biome

hotfix(dining): don't mix dishes across stations
  apps/api/src/services/dining.ts
Due: check-biome

replaced pk in dining_event to a uuid to remove not-null constraint on the start date
  apps/data-pipeline/dining-scraper/src/update-events.ts
  packages/db/migrations/0033_dining_event_primary_key.sql
  packages/db/migrations/meta/0033_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

hotfix(dining): don't mix dishes across stations (#431)
  apps/api/src/services/dining.ts
Due: check-biome

nulls distinct
  packages/db/migrations/0033_dining_event_primary_key.sql
  packages/db/migrations/meta/0033_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

partial unique index on event name for null start events
  apps/data-pipeline/dining-scraper/src/update-events.ts
  packages/db/migrations/0033_dining_event_primary_key.sql
  packages/db/migrations/meta/0033_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

refactor(library-traffic): add mapping for GraphQL enum members to display strings in LibraryName
  apps/api/src/graphql/resolvers/library-traffic.ts
Due: check-biome

refactor(library-traffic): replace string libraryName with LibraryName enum for type safety
  apps/api/src/graphql/schema/library-traffic.ts
Due: check-biome

refactor(library-traffic): enhance descriptions for aggregated and pattern history routes for clarity
  apps/api/src/rest/routes/library-traffic.ts
Due: check-biome

refactor(library-traffic): update date examples and descriptions for clarity and consistency across query schemas
  apps/api/src/schema/library-traffic.ts
Due: check-biome

refactor(library-traffic): optimize bucket expression handling and improve query performance
  apps/api/src/services/library-traffic.ts
Due: check-biome

refactor(library-traffic): round offset minutes calculation and enhance granularity descriptions for clarity
  apps/api/src/schema/library-traffic.ts
Due: check-biome

refactor(library-traffic): improve date handling in queries and enhance week calculation logic
  apps/api/src/services/library-traffic.ts
Due: check-biome

fix(enrollment-history): streamline getEnrollmentHistoryGranular by simplifying query and removing unused variables
  apps/api/src/services/enrollment-history.ts
Due: check-biome

fix(enrollment-history): remove unreachable 'quarter is required' error on optional field
  apps/api/src/schema/enrollment-history.ts
Due: check-biome

refactor(library-traffic): enhance description for history pattern route to clarify granularity and usage patterns
  apps/api/src/rest/routes/library-traffic.ts
Due: check-biome

refactor(library-traffic): remove Pacific time formatting and standardize timestamp handling to UTC ISO 8601
  apps/api/src/schema/library-traffic.ts
Due: check-biome

refactor(library-traffic): streamline date handling and improve bucket logic for traffic queries
  apps/api/src/services/library-traffic.ts
Due: check-biome

refactor(date-handling): add toDateString utility for consistent date formatting in SQL queries
  packages/db/src/utils.ts
Due: check-biome

you can't alias there
  apps/api/src/services/programs.ts
Due: check-biome

maow
  apps/api/src/services/programs.ts
Due: check-biome

group by
  apps/api/src/services/programs.ts
Due: check-biome

did thing
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

fix(degreeworks-scraper): deduplicate by major {code->name} (#436)
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

feat(degreeworks): serve dwcredit requirements (#394)
  apps/api/src/graphql/schema/programs.ts
  apps/api/src/schema/programs.ts
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
  apps/data-pipeline/degreeworks-scraper/src/components/WithArrayUtils.ts
  apps/data-pipeline/degreeworks-scraper/src/schema.ts
  packages/db/src/schema.ts
Due: check-biome

restriction codes openapi
  apps/api/src/schema/websoc.ts
  apps/key-manager/cloudflare-env.d.ts
Due: check-biome

feat: be less wrong
  apps/api/src/services/programs.ts
Due: check-biome

yeah
  apps/api/src/schema/programs.ts
  apps/api/src/services/programs.ts
  packages/db/migrations/0033_dw_catalog_years.sql
  packages/db/migrations/meta/0033_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

fix(enrollment-history): enhance enrollment history resolvers by adding schema parsing and improving query structure/refactor endpoint logic
  apps/api/src/graphql/resolvers/enrollment-history.ts
  apps/api/src/services/enrollment-history.ts
Due: check-biome

feat(programs): multiple catalog years (#344)
  apps/api/src/graphql/schema/programs.ts
  apps/api/src/rest/routes/programs.ts
  apps/api/src/schema/programs.ts
  apps/api/src/services/programs.ts
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
  apps/data-pipeline/degreeworks-scraper/src/index.ts
  packages/db/migrations/0033_dw_catalog_years.sql
  packages/db/migrations/meta/0033_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

hotfix(programs): /majors catalogYear default to latest
  apps/api/src/schema/programs.ts
  apps/api/src/services/programs.ts
Due: check-biome

hotfix(programs): /majors catalogYear default to latest (#440)
  apps/api/src/schema/programs.ts
  apps/api/src/services/programs.ts
Due: check-biome

nulls not distinct
  apps/api/src/services/dining.ts
  apps/data-pipeline/dining-scraper/src/update-events.ts
  packages/db/migrations/0033_dining_event_primary_key.sql
  packages/db/migrations/meta/0033_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

remigrate
  packages/db/migrations/meta/_journal.json
Due: check-prettier

fixed things
  apps/data-pipeline/dining-scraper/src/update-events.ts
  packages/db/migrations/0034_dining_event_null_start.sql
  packages/db/migrations/meta/0034_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

fix (dining): Make start time of dining events nullable (#432)
  apps/api/src/services/dining.ts
  apps/data-pipeline/dining-scraper/src/update-events.ts
  packages/db/migrations/0034_dining_event_null_start.sql
  packages/db/migrations/meta/0034_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

removed mig for merge
  packages/db/migrations/0029_dw_requirement_headers.sql
  packages/db/migrations/meta/0029_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: check-prettier

not working rn cuz failing discriminated union
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
  apps/data-pipeline/degreeworks-scraper/src/components/DegreeworksClient.ts
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
  apps/data-pipeline/degreeworks-scraper/src/index.ts
  apps/data-pipeline/degreeworks-scraper/src/schema.ts
  apps/data-pipeline/degreeworks-scraper/src/types.ts
  packages/db/migrations/0035_dw_requirement_headers.sql
  packages/db/migrations/meta/0035_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

show failed parse field in DWClient, classes in nonExclusive should be optional, handle ALLBLOCKS
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
  apps/data-pipeline/degreeworks-scraper/src/components/DegreeworksClient.ts
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
  apps/data-pipeline/degreeworks-scraper/src/schema.ts
  apps/data-pipeline/degreeworks-scraper/src/types.ts
Due: check-biome

cleaned unused code
  apps/data-pipeline/degreeworks-scraper/src/schema.ts
Due: check-biome

Path conditions:
  check-biome: any of: *.{ts,tsx,cjs}, but not: **/worker-configuration.d.ts, **/.wrangler/**
  check-prettier: any of: *.{json,md,toml,yml,yaml}
