Repository icssc/anteater-api: changes, and which lefthook commands are due for each by the changed paths.
All: check-biome, check-prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check-biome:
      glob: "*.{ts,tsx,cjs}"
      run: pnpm check:biome -- {staged_files}
      stage_fixed: true
      exclude:
        - "**/worker-configuration.d.ts"
        - "**/.wrangler/**"
    check-prettier:
      glob: "*.{json,md,toml,yml,yaml}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

logs
  .github/workflows/deploy_staging.yml
Due: check-prettier

tracking sst vs pnpm problem
  .github/workflows/deploy_staging.yml
Due: check-prettier

updated deploy command
  .github/workflows/deploy_staging.yml
Due: check-prettier

fix pnpm deploy for debug
  .github/workflows/deploy_staging.yml
Due: check-prettier

made it so actions wont look for dotenv when deploying
  apps/key-manager/package.json
Due: check-prettier

use new top-level datetime schema
  apps/api/src/schema/study-rooms.ts
Due: check-biome

deps: zod v4 (#271)
  apps/api/package.json
  apps/api/src/schema/enrollment-history.ts
  apps/api/src/schema/grades.ts
  apps/api/src/schema/programs.ts
  apps/api/src/schema/study-rooms.ts
  apps/api/src/schema/websoc.ts
  apps/api/src/services/ap-exams.ts
  apps/data-pipeline/degreeworks-scraper/package.json
  apps/data-pipeline/library-traffic-scraper/package.json
  apps/key-manager/package.json
  apps/key-manager/src/app/actions/types.ts
  pnpm-lock.yaml
Due: check-biome, check-prettier

other stuff
  apps/api/src/schema/base/error.ts
  apps/api/src/schema/courses.ts
  apps/api/src/schema/enrollment-history.ts
  apps/api/src/schema/grades.ts
  apps/api/src/schema/instructors.ts
  apps/api/src/schema/lib/course.ts
  apps/api/src/schema/lib/day.ts
  apps/api/src/schema/lib/time.ts
  apps/api/src/schema/lib/year.ts
  apps/api/src/schema/websoc.ts
  apps/api/src/schema/week.ts
  apps/key-manager/src/app/actions/types.ts
Due: check-biome

did too much find and replace award
  apps/api/src/schema/base/error.ts
Due: check-biome

hotfix: use zod partial records where intended
  apps/api/src/schema/ap-exams.ts
Due: check-biome

hotfix: use zod partial records where intended (#279)
  apps/api/src/schema/ap-exams.ts
Due: check-biome

refactor: addl zod v4 migration (#278)
  apps/api/src/schema/courses.ts
  apps/api/src/schema/enrollment-history.ts
  apps/api/src/schema/grades.ts
  apps/api/src/schema/instructors.ts
  apps/api/src/schema/lib/course.ts
  apps/api/src/schema/lib/day.ts
  apps/api/src/schema/lib/time.ts
  apps/api/src/schema/lib/year.ts
  apps/api/src/schema/websoc.ts
  apps/api/src/schema/week.ts
  apps/key-manager/src/app/actions/types.ts
Due: check-biome

deps: bump out CVEs and deprecations
  apps/api/package.json
  apps/data-pipeline/larc-scraper/package.json
  apps/data-pipeline/library-traffic-scraper/package.json
  apps/data-pipeline/mview-refresher/package.json
  apps/data-pipeline/study-location-scraper/package.json
  apps/data-pipeline/websoc-scraper/package.json
  apps/key-manager/package.json
  pnpm-lock.yaml
Due: check-prettier

fix: section_id column to meeting_id for clarity
  packages/db/migrations/0021_rename_section_id_to_meeting_id.sql
Due: none

fix: section_id column to meeting_id for clarity (#260)
  packages/db/migrations/0021_rename_section_id_to_meeting_id.sql
  packages/db/migrations/meta/0021_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

Revert "fix: section_id column to meeting_id for clarity (#260)"
  packages/db/migrations/0021_rename_section_id_to_meeting_id.sql
  packages/db/migrations/meta/0021_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

hotfix: 21 journal entry
  packages/db/migrations/meta/_journal.json
Due: check-prettier

hotfix: 21 journal entry (#283)
  packages/db/migrations/meta/_journal.json
Due: check-prettier

bump graphql-merge
  apps/api/package.json
  pnpm-lock.yaml
Due: check-prettier

missing cast
  apps/api/src/index.ts
Due: check-biome

Add hashed id for individual requirements
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
  apps/data-pipeline/degreeworks-scraper/src/types.ts
  packages/db/src/schema.ts
Due: check-biome

Fix id; Add hashed requirements as new column to college_requirement
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
  apps/data-pipeline/degreeworks-scraper/src/index.ts
  apps/data-pipeline/degreeworks-scraper/src/types.ts
  packages/db/src/schema.ts
Due: check-biome

Add migration
  packages/db/migrations/0022_college_requirement_requirements_hash.sql
  packages/db/migrations/meta/0022_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: check-prettier

deps: bump react and nextjs to latest
  apps/key-manager/package.json
  apps/key-manager/src/components/key/view/KeyTableRow.tsx
  pnpm-lock.yaml
Due: check-biome, check-prettier

deps: approve build
  pnpm-workspace.yaml
Due: check-prettier

fix: revert conflicting is_cancelled migration
  packages/db/migrations/0021_fix_websoc_is_cancelled.sql
  packages/db/src/schema.ts
Due: check-biome

fix: updated is_cancelled migration number to 22
  packages/db/migrations/0022_fix_websoc_is_cancelled.sql
  packages/db/migrations/meta/0022_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

feat: add hashed id for individual requirements
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
  apps/data-pipeline/degreeworks-scraper/src/types.ts
  packages/db/src/schema.ts
Due: check-biome

feat: fix id; add hashed requirements as new column to college_requirement
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
  apps/data-pipeline/degreeworks-scraper/src/index.ts
  apps/data-pipeline/degreeworks-scraper/src/types.ts
  packages/db/src/schema.ts
Due: check-biome

feat: add migrations
  packages/db/migrations/0022_college_requirements_hash_unique.sql
  packages/db/migrations/meta/0022_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: check-prettier

feat: add `requirementId` to routes
  apps/api/src/graphql/schema/programs.ts
  apps/api/src/schema/programs.ts
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
Due: check-biome

fix: clean up
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
  apps/data-pipeline/degreeworks-scraper/src/types.ts
Due: check-biome

modified AuditParser to filter courses using withArray unit req
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
  apps/data-pipeline/degreeworks-scraper/src/types.ts
Due: check-biome

start of pv stuff
  apps/data-pipeline/pv-study-room-scraper/package.json
  apps/data-pipeline/pv-study-room-scraper/src/handler.ts
  apps/data-pipeline/pv-study-room-scraper/src/index.ts
  apps/data-pipeline/pv-study-room-scraper/src/lib.ts
  apps/data-pipeline/pv-study-room-scraper/tsconfig.json
  apps/data-pipeline/pv-study-room-scraper/worker-configuration.d.ts
  packages/db/src/schema.ts
Due: check-biome, check-prettier

added unit filtering through course exceptions, and reworked unit checking to see if course is possible when it can be taken for varying unit count
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
  apps/data-pipeline/degreeworks-scraper/src/types.ts
Due: check-biome

changed withArray to PascalCase and linked PR to notes on further inqury on DW codes
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
  apps/data-pipeline/degreeworks-scraper/src/types.ts
Due: check-biome

misspell
  .github/workflows/deploy_staging.yml
Due: check-prettier

adjust logs and check aws
  .github/workflows/deploy_staging.yml
Due: check-prettier

pinned version of aws and random
  apps/key-manager/sst.config.ts
Due: check-biome
