Repository icssc/anteater-api: changes, and which lefthook commands are due for each by the changed paths.
All: check-biome, check-prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check-biome:
      glob: "*.{ts,tsx,cjs}"
      run: pnpm check:biome -- {staged_files}
      stage_fixed: true
      exclude:
        - "**/worker-configuration.d.ts"
        - "**/.wrangler/**"
    check-prettier:
      glob: "*.{json,md,toml,yml,yaml}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

update this
  .env.example
Due: none

bump
  apps/api/package.json
  apps/data-pipeline/dining-scraper/package.json
  apps/data-pipeline/dining-scraper/worker-configuration.d.ts
  apps/data-pipeline/larc-scraper/package.json
  apps/data-pipeline/larc-scraper/worker-configuration.d.ts
  apps/data-pipeline/library-traffic-scraper/package.json
  apps/data-pipeline/library-traffic-scraper/worker-configuration.d.ts
  apps/data-pipeline/mview-refresher/package.json
  apps/data-pipeline/mview-refresher/worker-configuration.d.ts
  apps/data-pipeline/study-location-scraper/package.json
  apps/data-pipeline/study-location-scraper/worker-configuration.d.ts
  apps/data-pipeline/websoc-scraper/package.json
  apps/data-pipeline/websoc-scraper/worker-configuration.d.ts
  apps/key-manager/package.json
  pnpm-lock.yaml
Due: check-prettier

migration
  packages/db/migrations/0026_polymorphic_major_requirements.sql
  packages/db/migrations/meta/0026_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: check-prettier

add node here idk
  apps/data-pipeline/websoc-scraper/tsconfig.json
Due: check-prettier

downgrade and pray
  apps/api/package.json
  apps/api/worker-configuration.d.ts
  apps/data-pipeline/dining-scraper/package.json
  apps/data-pipeline/dining-scraper/worker-configuration.d.ts
  apps/data-pipeline/larc-scraper/package.json
  apps/data-pipeline/larc-scraper/worker-configuration.d.ts
  apps/data-pipeline/library-traffic-scraper/package.json
  apps/data-pipeline/library-traffic-scraper/worker-configuration.d.ts
  apps/data-pipeline/mview-refresher/package.json
  apps/data-pipeline/mview-refresher/worker-configuration.d.ts
  apps/data-pipeline/study-location-scraper/package.json
  apps/data-pipeline/study-location-scraper/worker-configuration.d.ts
  apps/data-pipeline/websoc-scraper/package.json
  apps/data-pipeline/websoc-scraper/worker-configuration.d.ts
  apps/key-manager/package.json
  pnpm-lock.yaml
Due: check-prettier

fix import
  apps/api/src/graphql/resolvers/index.ts
Due: check-biome

goldylocks
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
Due: check-biome

spellcheck TT
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
Due: check-biome

cleaned up comment in schema for MajorProgram Type
  packages/db/src/schema.ts
Due: check-biome

graphql specializationId is optional
  apps/api/src/schema/programs.ts
  apps/api/src/services/programs.ts
Due: check-biome

fixed schoolRequirement typo
  apps/api/src/services/programs.ts
Due: check-biome

changed response for when a major spec pair is not found
  apps/api/src/rest/routes/programs.ts
Due: check-biome

feat: initial type translated to zod schema
  apps/data-pipeline/degreeworks-scraper/src/schema.ts
Due: check-biome

add course schema
  apps/data-pipeline/degreeworks-scraper/src/schema.ts
Due: check-biome

add space to types lol
  apps/data-pipeline/degreeworks-scraper/src/types.ts
Due: check-biome

dotenv before migrating
  apps/key-manager/package.json
Due: check-prettier

feat: add rule zod schemas
  apps/data-pipeline/degreeworks-scraper/src/schema.ts
Due: check-biome

feat: zod block schema
  apps/data-pipeline/degreeworks-scraper/src/schema.ts
Due: check-biome

add Zod DWAuditOKResponse schema
  apps/data-pipeline/degreeworks-scraper/src/schema.ts
Due: check-biome

change to camelCase
  apps/data-pipeline/degreeworks-scraper/src/schema.ts
Due: check-biome

add specializationCache schema
  apps/data-pipeline/degreeworks-scraper/src/schema.ts
Due: check-biome

bump react-hook-form
  apps/key-manager/package.json
  pnpm-lock.yaml
Due: check-prettier

it Kinda Works
  apps/key-manager/.env.example
  apps/key-manager/cloudflare-env.d.ts
  apps/key-manager/next.config.ts
  apps/key-manager/open-next.config.ts
  apps/key-manager/package.json
  apps/key-manager/src/app/actions/keys.ts
  apps/key-manager/src/auth.config.ts
  apps/key-manager/src/auth.ts
  apps/key-manager/sst.config.ts
  apps/key-manager/tsconfig.json
  apps/key-manager/wrangler.toml
  biome.json
  pnpm-lock.yaml
Due: check-biome, check-prettier

i fear we need this
  apps/key-manager/package.json
Due: check-prettier

fmt
  apps/key-manager/src/auth.ts
Due: check-biome

fix opaque error on bad key creation
  apps/key-manager/src/app/actions/keys.ts
  apps/key-manager/src/app/create/page.tsx
Due: check-biome

fix hang here
  apps/key-manager/src/app/create/page.tsx
Due: check-biome

don't need this part of workflow anymore
  .github/workflows/deploy_prod.yml
Due: check-prettier

finished migrating changes
  packages/db/migrations/0023_fix_missing_instructor_data.sql
  packages/db/migrations/0025_fix_missing_instructor_data.sql
  packages/db/migrations/meta/0025_snapshot.json
Due: check-prettier

try allowing rulemarker to only be 'complete' and new ruleBlocktype schema
  apps/data-pipeline/degreeworks-scraper/src/components/DegreeworksClient.ts
  apps/data-pipeline/degreeworks-scraper/src/schema.ts
  apps/data-pipeline/degreeworks-scraper/src/types.ts
Due: check-biome

adding new ruletype to types
  apps/data-pipeline/degreeworks-scraper/src/types.ts
Due: check-biome

correct binding
  apps/key-manager/wrangler.toml
Due: check-prettier

responses simplified for dining
  apps/api/src/rest/routes/dining.ts
Due: check-biome

initial fix for parsing times
  packages/stdlib/src/time-utils.ts
Due: check-biome

fix: restore return for getMinorAudit and getSpecAudit
  apps/data-pipeline/degreeworks-scraper/src/components/DegreeworksClient.ts
Due: check-biome

add "Incomplete" to ruletype enum for ruleMarkerSchema since it exists
  apps/data-pipeline/degreeworks-scraper/src/schema.ts
Due: check-biome

add comment to ruleMarkerSchema
  apps/data-pipeline/degreeworks-scraper/src/schema.ts
Due: check-biome

isCursor made optional field for response200
  apps/api/src/rest/routes/courses.ts
  apps/api/src/rest/routes/instructors.ts
  apps/api/src/schema/base/response.ts
Due: check-biome

library-traffic responses updated
  apps/api/src/rest/routes/library-traffic.ts
  apps/api/src/schema/base/response.ts
Due: check-biome
