Repository icssc/anteater-api: changes, and which lefthook commands are due for each by the changed paths.
All: check-biome, check-prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check-biome:
      glob: "*.{ts,tsx,cjs}"
      run: pnpm check:biome -- {staged_files}
      stage_fixed: true
      exclude:
        - "**/worker-configuration.d.ts"
        - "**/.wrangler/**"
    check-prettier:
      glob: "*.{json,md,toml,yml,yaml}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

parse major and spec types with code
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

tightened call to websoc programs report in dw scaper
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
  apps/data-pipeline/degreeworks-scraper/src/schema.ts
Due: check-biome

docs and rename of vars
  apps/api/src/schema/programs.ts
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
  packages/db/src/schema.ts
Due: check-biome

serve headers for Ugrad and college requirements
  apps/api/src/schema/programs.ts
  apps/api/src/services/programs.ts
Due: check-biome

cleaned up code and comments
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
  apps/data-pipeline/degreeworks-scraper/src/components/DegreeworksClient.ts
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
  apps/data-pipeline/degreeworks-scraper/src/index.ts
  apps/data-pipeline/degreeworks-scraper/src/schema.ts
  packages/db/src/schema.ts
  regexing
Due: check-biome

tightened type and made scraper logs less verbose for warnings of ineligible programs
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
  apps/data-pipeline/degreeworks-scraper/src/components/DegreeworksClient.ts
Due: check-biome

scuffed grahpql
  apps/api/src/graphql/schema/programs.ts
Due: check-biome

better dw error. libl handeling. comments
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
  apps/data-pipeline/degreeworks-scraper/src/components/DegreeworksClient.ts
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
  packages/db/src/schema.ts
  regexing
Due: check-biome

bad not null
  apps/data-pipeline/degreeworks-scraper/src/components/DegreeworksClient.ts
Due: check-biome

comments and such
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

formatting
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
Due: check-biome

bumped wranger to latest
  apps/api/package.json
  apps/api/worker-configuration.d.ts
  apps/data-pipeline/dining-scraper/package.json
  apps/data-pipeline/dining-scraper/worker-configuration.d.ts
  apps/data-pipeline/larc-scraper/package.json
  apps/data-pipeline/larc-scraper/worker-configuration.d.ts
  apps/data-pipeline/library-traffic-scraper/package.json
  apps/data-pipeline/library-traffic-scraper/worker-configuration.d.ts
  apps/data-pipeline/mview-refresher/package.json
  apps/data-pipeline/mview-refresher/worker-configuration.d.ts
  apps/data-pipeline/study-location-scraper/package.json
  apps/data-pipeline/study-location-scraper/worker-configuration.d.ts
  apps/data-pipeline/websoc-scraper/package.json
  apps/data-pipeline/websoc-scraper/worker-configuration.d.ts
  apps/key-manager/cloudflare-env.d.ts
  apps/key-manager/package.json
  pnpm-lock.yaml
Due: check-biome, check-prettier

updated all deps to latest, except graphql which is kept on ^16.0.0 to satisfiy peer dependency from apollo
  apps/api/package.json
  apps/data-pipeline/calendar-scraper/package.json
  apps/data-pipeline/course-scraper/package.json
  apps/data-pipeline/degreeworks-scraper/package.json
  apps/data-pipeline/dining-scraper/package.json
  apps/data-pipeline/instructor-scraper/package.json
  apps/data-pipeline/library-traffic-scraper/package.json
  apps/data-pipeline/sample-program-scraper/package.json
  apps/data-pipeline/study-location-scraper/package.json
  apps/data-pipeline/websoc-scraper/package.json
  apps/key-manager/package.json
  package.json
  packages/db/package.json
  packages/public/libwebsoc-next/package.json
  pnpm-lock.yaml
Due: check-prettier

removed baseUrl from tsconfig as it is deprecated
  apps/api/tsconfig.json
  apps/data-pipeline/degreeworks-scraper/src/components/DegreeworksClient.ts
  apps/data-pipeline/degreeworks-scraper/tsconfig.json
  apps/data-pipeline/dining-scraper/tsconfig.json
  apps/data-pipeline/larc-scraper/tsconfig.json
  apps/data-pipeline/library-traffic-scraper/tsconfig.json
  apps/data-pipeline/mview-refresher/tsconfig.json
  apps/data-pipeline/study-location-scraper/tsconfig.json
  apps/data-pipeline/websoc-scraper/tsconfig.json
  tsconfig.json
Due: check-biome, check-prettier

key manager hell: had to override @auth/core in pnpm-workspace.yaml b/c there was conflicting package versions being used. also changed in tailwind.config.tx darkMode from ['class'] to 'class'
  apps/key-manager/tailwind.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: check-biome, check-prettier

added catalog to pnpm-workspace:
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: check-prettier

compatability dates
  apps/api/worker-configuration.d.ts
  apps/api/wrangler.toml
  apps/data-pipeline/dining-scraper/worker-configuration.d.ts
  apps/data-pipeline/dining-scraper/wrangler.toml
  apps/data-pipeline/larc-scraper/worker-configuration.d.ts
  apps/data-pipeline/larc-scraper/wrangler.toml
  apps/data-pipeline/library-traffic-scraper/worker-configuration.d.ts
  apps/data-pipeline/library-traffic-scraper/wrangler.toml
  apps/data-pipeline/mview-refresher/worker-configuration.d.ts
  apps/data-pipeline/mview-refresher/wrangler.toml
  apps/data-pipeline/study-location-scraper/worker-configuration.d.ts
  apps/data-pipeline/study-location-scraper/wrangler.toml
  apps/data-pipeline/websoc-scraper/worker-configuration.d.ts
  apps/data-pipeline/websoc-scraper/wrangler.toml
  apps/key-manager/cloudflare-env.d.ts
  apps/key-manager/wrangler.toml
  pnpm-lock.yaml
Due: check-biome, check-prettier

comments and such
  apps/api/src/schema/programs.ts
  apps/data-pipeline/degreeworks-scraper/src/components/DegreeworksClient.ts
  apps/data-pipeline/degreeworks-scraper/src/schema.ts
Due: check-biome

oops didn't commit
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

changed package.json to use catalog:
  apps/api/package.json
  apps/data-pipeline/degreeworks-scraper/package.json
  apps/data-pipeline/dining-scraper/package.json
  apps/data-pipeline/larc-scraper/package.json
  apps/data-pipeline/library-traffic-scraper/package.json
  apps/data-pipeline/mview-refresher/package.json
  apps/data-pipeline/study-location-scraper/package.json
  apps/data-pipeline/websoc-scraper/package.json
  apps/key-manager/package.json
  package.json
  packages/public/libwebsoc-next/package.json
  pnpm-lock.yaml
Due: check-prettier

fixed last compatability date
  apps/api/wrangler.toml
Due: check-prettier

reverted tailwindcss in keymanager
  apps/api/worker-configuration.d.ts
  apps/key-manager/package.json
  pnpm-lock.yaml
Due: check-prettier

prettier
  packages/db/migrations/meta/0012_snapshot.json
Due: check-prettier

reverted updates on libwebsoc-next library
  packages/public/libwebsoc-next/package.json
  pnpm-lock.yaml
Due: check-prettier

oopsie
  apps/data-pipeline/degreeworks-scraper/src/schema.ts
Due: check-biome

stuf
  apps/key-manager/cloudflare-env.d.ts
  packages/db/src/schema/index.ts
Due: check-biome

websoc
  packages/db/src/schema/index.ts
  packages/db/src/schema/websoc.ts
  packages/db/src/utils.ts
Due: check-biome

0
  packages/db/package.json
  packages/db/src/schema/index.ts
Due: check-biome, check-prettier

move
  apps/data-pipeline/degreeworks-scraper/src/components/DegreeworksClient.ts
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

dw
  packages/db/src/schema/degreeworks.ts
  packages/db/src/schema/index.ts
Due: check-biome

dining
  packages/db/src/schema/dining.ts
  packages/db/src/schema/index.ts
Due: check-biome

fix biome too
  biome.json
Due: check-prettier

types angry
  apps/api/src/services/course-materials.ts
Due: check-biome

names angry
  apps/data-pipeline/degreeworks-scraper/src/components/DegreeworksClient.ts
Due: check-biome

trin
  packages/db/src/schema/index.ts
Due: check-biome

mview
  packages/db/src/schema/index.ts
  packages/db/src/schema/mview.ts
Due: check-biome
