Repository icssc/anteater-api: changes, and which lefthook commands are due for each by the changed paths.
All: check-biome, check-prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check-biome:
      glob: "*.{ts,tsx,cjs}"
      run: pnpm check:biome -- {staged_files}
      stage_fixed: true
      exclude:
        - "**/worker-configuration.d.ts"
        - "**/.wrangler/**"
    check-prettier:
      glob: "*.{json,md,toml,yml,yaml}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

more minor changes
  apps/data-pipeline/degreeworks-scraper/src/index.ts
Due: check-biome

a
  apps/data-pipeline/study-location-scraper/src/lib.ts
  apps/data-pipeline/study-location-scraper/src/pv.ts
  apps/data-pipeline/study-location-scraper/src/time.ts
Due: check-biome

drizzle-orm dependency re-added
  apps/data-pipeline/degreeworks-scraper/package.json
  pnpm-lock.yaml
Due: check-prettier

nit: changed default generate random
  packages/db/src/schema.ts
Due: check-biome

ordering nits
  packages/db/src/schema.ts
Due: check-biome

plural nit
  apps/data-pipeline/degreeworks-scraper/src/index.ts
  packages/db/migrations/0029_polymorphic_major_requirements.sql
  packages/db/migrations/meta/0029_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

metal pipe falling sound effect
  apps/data-pipeline/degreeworks-scraper/src/index.ts
Due: check-biome

whoops
  packages/db/migrations/0029_polymorphic_major_requirements.sql
Due: none

feat: Add instructorNames field to Syllabus and update syllabi query to include instructor aggregation
  apps/api/src/graphql/schema/websoc.ts
  apps/api/src/schema/websoc.ts
  apps/api/src/services/websoc.ts
Due: check-biome

remove redundant log wording
  apps/data-pipeline/websoc-scraper/src/lib.ts
Due: check-biome

fix(library-traffic): extend deletion cutoff for historical records from 13 to 15 months
  apps/data-pipeline/library-traffic-scraper/src/lib.ts
Due: check-biome

feat: change sorting of syllabus query results by term order and year
  apps/api/src/services/websoc.ts
Due: check-biome

nit: converted subquery name to match naming convention used in other methods in the file
  apps/api/src/services/websoc.ts
Due: check-biome

fixing several issues w json diff
  apps/data-pipeline/degreeworks-scraper/package.json
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
  pnpm-lock.yaml
Due: check-biome, check-prettier

collegeBlockIndex issue fixed
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

comparisons almost complete
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

changed unit to units and adjusted default repeatability times value in scraper and in schema
  apps/data-pipeline/course-scraper/src/index.ts
  packages/db/migrations/0029_course_repeatability_data_parsing.sql
  packages/db/migrations/meta/0029_snapshot.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

revert accidental worker config changes
  apps/api/worker-configuration.d.ts
Due: none

before tree
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
  apps/data-pipeline/degreeworks-scraper/src/components/WithArrayUtils.ts
Due: check-biome

tree
  apps/api/src/schema/programs.ts
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
  apps/data-pipeline/degreeworks-scraper/src/components/WithArrayUtils.ts
  packages/db/src/schema.ts
Due: check-biome

exclusion empty witharary fix
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
  apps/data-pipeline/degreeworks-scraper/src/components/WithArrayUtils.ts
Due: check-biome

fix hardcode
  apps/data-pipeline/degreeworks-scraper/src/components/WithArrayUtils.ts
Due: check-biome

fix (study-rooms): fix pruning old time slots (#376)
  apps/data-pipeline/study-location-scraper/src/lib.ts
  apps/data-pipeline/study-location-scraper/src/pv.ts
  apps/data-pipeline/study-location-scraper/src/time.ts
Due: check-biome

feat (study-rooms): increase library scrape fetch ahead (#377)
  apps/data-pipeline/study-location-scraper/src/lib.ts
  apps/data-pipeline/study-location-scraper/src/pv.ts
Due: check-biome

fix: update condition in getSyllabi to check for non-empty webURL
  apps/api/src/services/websoc.ts
Due: check-biome

feat: parse syllabi response with schema validation for array format
  apps/api/src/graphql/resolvers/websoc.ts
Due: check-biome

represent ge scrape summary as a JSON object
  apps/data-pipeline/websoc-scraper/src/lib.ts
Due: check-biome

update GE counts to return int directly
  apps/data-pipeline/websoc-scraper/src/lib.ts
Due: check-biome

fix: update instructor condition to use SQL ANY
  apps/api/src/services/websoc.ts
Due: check-biome

updated repeatability reading code to use group matching instead of string analysis
  apps/data-pipeline/course-scraper/src/index.ts
Due: check-biome

all my beatiful code is gone~~~ (why was this way so much easier TT)
  apps/data-pipeline/degreeworks-scraper/src/index.ts
  packages/db/migrations/0029_polymorphic_major_requirements.sql
  packages/db/migrations/meta/0029_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

majors json comp finally works
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

fixed worker config, updated name of repeatability parsing fn, and made repeatability_times_type nullable
  apps/api/worker-configuration.d.ts
  apps/data-pipeline/course-scraper/src/index.ts
  packages/db/migrations/0029_course_repeatability_data_parsing.sql
  packages/db/migrations/meta/0029_snapshot.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

comments added
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
Due: check-biome

fixed course type to account for nullable repeatability type col
  apps/api/src/schema/courses.ts
Due: check-biome

removed uuid package
  apps/data-pipeline/degreeworks-scraper/package.json
  pnpm-lock.yaml
Due: check-prettier

feat(study-rooms): alp
  apps/data-pipeline/study-location-scraper/package.json
  apps/data-pipeline/study-location-scraper/src/handler.ts
  apps/data-pipeline/study-location-scraper/src/index.ts
  apps/data-pipeline/study-location-scraper/src/lib.ts
Due: check-biome, check-prettier

names and order
  apps/data-pipeline/study-location-scraper/src/lib.ts
Due: check-biome

cancel degreeworks scrape option added
  apps/data-pipeline/degreeworks-scraper/package.json
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
  pnpm-lock.yaml
Due: check-biome, check-prettier
