Repository icssc/anteater-api: changes, and which lefthook commands are due for each by the changed paths.
All: check-biome, check-prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check-biome:
      glob: "*.{ts,tsx,cjs}"
      run: pnpm check:biome -- {staged_files}
      stage_fixed: true
      exclude:
        - "**/worker-configuration.d.ts"
        - "**/.wrangler/**"
    check-prettier:
      glob: "*.{json,md,toml,yml,yaml}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

fix: updated migration number for timestamp
  packages/db/migrations/0030_enrollment_created_at_timestamp.sql
  packages/db/migrations/meta/0030_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: check-prettier

fix(scraper): scope lastSnapshot query per-term to fix shared clock bug
  apps/data-pipeline/websoc-scraper/src/lib.ts
Due: check-biome

course-materials: adjusting minor schematic issues
  apps/api/src/schema/course-materials.ts
  packages/db/migrations/0030_course_materials.sql
  packages/db/migrations/meta/0030_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

added negative lookahead to correctly target WR -> Writing replacement
  apps/api/src/services/search.ts
Due: check-biome

merged new migration
  packages/db/migrations/0029_course_repeatability_data_parsing.sql
  packages/db/migrations/meta/0029_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

add new migrations
  packages/db/migrations/0029_polymorphic_major_requirements.sql
  packages/db/migrations/0030_course_repeatability_data_parsing.sql
  packages/db/migrations/meta/0030_snapshot.json
Due: check-prettier

update docs to include Api Key Auth information on search route
  apps/api/src/index.ts
  apps/api/src/rest/routes/search.ts
Due: check-biome

made unlimited case null both columns
  apps/api/src/graphql/schema/courses.ts
  apps/api/src/schema/courses.ts
  apps/data-pipeline/course-scraper/src/index.ts
  packages/db/migrations/0030_course_repeatability_data_parsing.sql
  packages/db/migrations/meta/0030_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

added alias replacement support for searches that do not specify a return type
  apps/api/src/services/search.ts
Due: check-biome

marked larc sections route as deprecated and added deprecation message in description
  apps/api/src/rest/routes/larc.ts
Due: check-biome

update description message start year of new system
  apps/api/src/rest/routes/larc.ts
Due: check-biome

added fallback of adding original instructor list when intersection yields empty list + added comments
  apps/data-pipeline/websoc-scraper/src/lib.ts
Due: check-biome

fix(mview-refresher): refresh course view too
  apps/data-pipeline/mview-refresher/src/handler.ts
Due: check-biome

add static seed for dining_meal_period_type rows
  packages/db/migrations/0030_dining_schedules.sql
Due: none

fix drizzle migration history
  packages/db/migrations/meta/0030_snapshot.json
Due: check-prettier

they're taking the hobbits to isengard
  apps/api/src/graphql/schema/programs.ts
  apps/api/src/rest/routes/programs.ts
  apps/api/src/schema/programs.ts
  apps/api/src/services/programs.ts
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
  apps/data-pipeline/degreeworks-scraper/src/index.ts
  packages/db/migrations/0030_dw_catalog_year.sql
  packages/db/migrations/meta/0030_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

service
  apps/api/src/services/programs.ts
Due: check-biome

step
  apps/api/src/services/programs.ts
Due: check-biome

pivoted approach to use a unique id for websoc instructors and a unique index
  apps/data-pipeline/instructor-scraper/src/index.ts
  apps/data-pipeline/websoc-scraper/src/lib.ts
  packages/db/migrations/0029_fix_missing_instructor_data.sql
  packages/db/migrations/meta/0029_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

renamed migration
  packages/db/migrations/meta/_journal.json
Due: check-prettier

renamed migration
  packages/db/migrations/0029_fix_missing_instructor_data.sql
Due: none

documented null meaning for parsed repeatability values
  apps/api/src/schema/courses.ts
Due: check-biome

deps: next CVE
  apps/key-manager/package.json
  pnpm-lock.yaml
Due: check-prettier

updated schema and documentation messages
  apps/api/src/schema/courses.ts
Due: check-biome

fix(mview-refresher): refresh course view too (#401)
  apps/data-pipeline/mview-refresher/src/handler.ts
Due: check-biome

cast times type to credit hours or times to avoid type checking problems
  apps/api/src/services/courses.ts
Due: check-biome

deps: next CVE (#402)
  apps/key-manager/package.json
  pnpm-lock.yaml
Due: check-prettier

docs: mark routes as auth-gated in documentation (#398)
  apps/api/src/index.ts
  apps/api/src/rest/routes/search.ts
Due: check-biome

docs: deprecate larc sections (#399)
  apps/api/src/rest/routes/larc.ts
Due: check-biome

docs: mark auth protected routes (#403)
  apps/api/src/index.ts
  apps/api/src/rest/routes/search.ts
Due: check-biome

changed comments
  apps/data-pipeline/websoc-scraper/src/lib.ts
Due: check-biome

course-materials: allowing for search by multiple course numbers
  apps/api/src/schema/course-materials.ts
  apps/api/src/services/course-materials.ts
Due: check-biome

refactor: stricter typing
  packages/db/src/utils.ts
Due: check-biome

english TT
  apps/data-pipeline/websoc-scraper/src/lib.ts
Due: check-biome

course-materials: course material resolver name fix
  apps/api/src/graphql/resolvers/course-materials.ts
Due: check-biome

course-materials: graphql pascal case added
  apps/api/src/graphql/schema/course-materials.ts
Due: check-biome

course-materials: materialId condition simplified
  apps/api/src/services/course-materials.ts
Due: check-biome

updated instructor scraper to be in line with new changes and remove other initial query changes
  apps/data-pipeline/instructor-scraper/src/index.ts
Due: check-biome

added support for department filtering for instructor searches
  apps/api/src/schema/search.ts
  apps/api/src/services/search.ts
Due: check-biome

removed stray console.log
  apps/api/src/services/search.ts
Due: check-biome
