Repository icssc/anteater-api: changes, and which lefthook commands are due for each by the changed paths.
All: check-biome, check-prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check-biome:
      glob: "*.{ts,tsx,cjs}"
      run: pnpm check:biome -- {staged_files}
      stage_fixed: true
      exclude:
        - "**/worker-configuration.d.ts"
        - "**/.wrangler/**"
    check-prettier:
      glob: "*.{json,md,toml,yml,yaml}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

deps: CVEs (#499)
  apps/api/package.json
  apps/key-manager/package.json
  packages/public/libwebsoc-next/package.json
  pnpm-lock.yaml
Due: check-prettier

deps: drop cross-fetch, unify cheerio
  apps/data-pipeline/calendar-scraper/package.json
  apps/data-pipeline/calendar-scraper/src/index.ts
  apps/data-pipeline/course-scraper/package.json
  apps/data-pipeline/course-scraper/src/index.ts
  apps/data-pipeline/degreeworks-scraper/package.json
  apps/data-pipeline/degreeworks-scraper/src/components/DegreeworksClient.ts
  apps/data-pipeline/instructor-scraper/package.json
  apps/data-pipeline/instructor-scraper/src/index.ts
  apps/data-pipeline/larc-scraper/package.json
  apps/data-pipeline/larc-scraper/src/lib.ts
  apps/data-pipeline/library-traffic-scraper/package.json
  apps/data-pipeline/library-traffic-scraper/src/lib.ts
  apps/data-pipeline/sample-program-scraper/package.json
  apps/data-pipeline/sample-program-scraper/src/index.ts
  apps/data-pipeline/study-location-scraper/package.json
  apps/data-pipeline/study-location-scraper/src/lib.ts
  apps/data-pipeline/study-location-scraper/src/pv.ts
  apps/data-pipeline/websoc-scraper/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: check-biome, check-prettier

unify more
  apps/data-pipeline/calendar-scraper/package.json
  apps/data-pipeline/course-scraper/package.json
  apps/data-pipeline/dining-scraper/package.json
  apps/data-pipeline/instructor-scraper/package.json
  apps/data-pipeline/sample-program-scraper/package.json
  apps/data-pipeline/study-location-scraper/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: check-prettier

unused dep
  apps/data-pipeline/websoc-scraper/package.json
Due: check-prettier

bump libwebsoc-next
  apps/data-pipeline/websoc-scraper/package.json
  pnpm-lock.yaml
Due: check-prettier

catalog drizzle
  apps/key-manager/package.json
  packages/db/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: check-prettier

laggo can't spell
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: check-prettier

deps: consolidation, cleanup (#502)
  apps/data-pipeline/calendar-scraper/package.json
  apps/data-pipeline/calendar-scraper/src/index.ts
  apps/data-pipeline/course-scraper/package.json
  apps/data-pipeline/course-scraper/src/index.ts
  apps/data-pipeline/degreeworks-scraper/package.json
  apps/data-pipeline/degreeworks-scraper/src/components/DegreeworksClient.ts
  apps/data-pipeline/dining-scraper/package.json
  apps/data-pipeline/instructor-scraper/package.json
  apps/data-pipeline/instructor-scraper/src/index.ts
  apps/data-pipeline/larc-scraper/package.json
  apps/data-pipeline/larc-scraper/src/lib.ts
  apps/data-pipeline/library-traffic-scraper/package.json
  apps/data-pipeline/library-traffic-scraper/src/lib.ts
  apps/data-pipeline/sample-program-scraper/package.json
  apps/data-pipeline/sample-program-scraper/src/index.ts
  apps/data-pipeline/study-location-scraper/package.json
  apps/data-pipeline/study-location-scraper/src/lib.ts
  apps/data-pipeline/study-location-scraper/src/pv.ts
  apps/data-pipeline/websoc-scraper/package.json
  apps/key-manager/package.json
  packages/db/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: check-biome, check-prettier

Rewrote the second sentence so the hyperlinks are incorporated more smoothly
  apps/api/src/middleware/openapi-meta.ts
Due: check-biome

Replaced the remaining links on openapi-meta with hyperlinks
  apps/api/src/middleware/openapi-meta.ts
Due: check-biome

Folded links into markdown on the introduction page (#497)
  apps/api/src/middleware/openapi-meta.ts
Due: check-biome

Remove hardcoded "ICS 32A or H32" from scraping pipeline
  apps/data-pipeline/course-scraper/src/index.ts
Due: check-biome

added required header to library-traffic-scraper
  apps/data-pipeline/library-traffic-scraper/src/lib.ts
Due: check-biome

changed name
  apps/data-pipeline/library-traffic-scraper/src/lib.ts
Due: check-biome

name
  apps/data-pipeline/library-traffic-scraper/src/lib.ts
Due: check-biome

fix (Library-Traffic): Add headers to request (#504)
  apps/data-pipeline/library-traffic-scraper/src/lib.ts
Due: check-biome

merge conf
  packages/db/migrations/0037_enrollment_resolution.sql
  packages/db/migrations/meta/0037_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: check-prettier

remigrate
  packages/db/migrations/0038_enrollment_resolution.sql
  packages/db/migrations/meta/0038_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: check-prettier

oopsy
  packages/db/package.json
  pnpm-lock.yaml
Due: check-prettier

feat(websoc-scraper): Dynamic Resolution for Enrollment History (#300)
  apps/api/src/graphql/resolvers/enrollment-history.ts
  apps/api/src/graphql/schema/enrollment-history.ts
  apps/api/src/rest/routes/enrollment-history.ts
  apps/api/src/schema/enrollment-history.ts
  apps/api/src/services/enrollment-history.ts
  apps/api/src/services/week.ts
  apps/data-pipeline/websoc-scraper/src/lib.ts
  packages/db/migrations/0038_enrollment_resolution.sql
  packages/db/migrations/meta/0038_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/package.json
  packages/db/src/schema/websoc.ts
  packages/stdlib/src/calendar-utils.ts
  packages/stdlib/src/index.ts
  packages/stdlib/src/terms.ts
  pnpm-lock.yaml
Due: check-biome, check-prettier

update leads list
  CONTRIBUTORS.md
Due: check-prettier

update leads list (#506)
  CONTRIBUTORS.md
Due: check-prettier
